{% extends "main.html" %}

{% block header %}
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>{{ page_title | safe }}</h1>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary float-sm-right mr-4" data-bs-toggle="modal" data-bs-target="#addModal" title="Add Access Control" aria-hidden="true">
        <i class="fas fa-plus fa-sm fa-fw"></i> Access Control
      </button>
    </div>
  </div>
{% endblock header %}

{% block content %}
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <table class="table" id="accessControlsDataTable" width="100%" cellspacing="0">
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block modal %}
  {% include 'modals/access-controls.html' %}
{% endblock modal %}

{% block script %}
  <script>
    var reloadTime = 10000;
    var scrollY =  localStorage.getItem('accesControlsDataTableScrollY') || '490px';

    function reloadPageContent() {
      //Clear the automatic page reload
      clearTimeout(pageReloadTimeout);

      //Reload the datatables content
      loadAccessControlsTable()

      //Set the automatic page reload
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);
    }

    function loadPageContent(){
      
      // Configure Datatable
      loadAccessControlsTable()

      //Set reload page content
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);

      //Populate the Group dropdown in the modal
      $.getJSON("{{ url_for('api') }}/groups/list_groups", function (data) {
        data = data.data
        for (var index = 0; index < data.length; index++) {
          $('#groupInput').append('<option value="' + data[index].id + '">' + data[index].name + '</option>');
          $('#groupEditInput').append('<option value="' + data[index].id + '">' + data[index].name + '</option>');
        }
      })

      //Populate the Role dropdown in the modal
      $.getJSON("{{ url_for('api') }}/roles/list_roles", function (data) {
        data = data.data
        for (var index = 0; index < data.length; index++) {
          $('#roleInput').append('<option value="' + data[index].id + '">' + data[index].name + '</option>');
          $('#roleEditInput').append('<option value="' + data[index].id + '">' + data[index].name + '</option>');
        }
      })

    }

    function loadAccessControlsTable(){
      if ( ! $.fn.DataTable.isDataTable( '#accessControlsDataTable' ) ) {
        accessControlsDataTable = $('#accessControlsDataTable').DataTable({
          ajax: {
            url: "{{ url_for('api') }}/access-controls/list_access_controls",
            dataType: "json",
            dataSrc: "data",
            contentType: "application/json",
            error: function (xhr, error, code) {
              console.log(xhr, code);
            }
          },
          columns: [
            {
              data: null,
              orderable: false,
              render: DataTable.render.select()
            },
            { title: "Id", className: 'text-start dt-head-left', data: function (row, type, set) {
              if (row.hasOwnProperty('id')) {
                if (row.id)
                  return row.id
              }
              return '-'
            },
            },
            { title: "Group", data: function (row, type, set) {
                if (row.hasOwnProperty('group_name')) {
                  if (row.group_name)
                    return row.group_name
                }
                return '-'
              },
            },
            { title: "Role", data: function (row, type, set) {
                if (row.hasOwnProperty('role_name')) {
                  if (row.role_name)
                    return row.role_name
                }
                return '-'
              },
            },
            { title: "Scope", data: function (row, type, set) {
                if (row.hasOwnProperty('scope')) {
                  if (row.scope)
                    return row.scope
                }
                return '-'
              },
            },
            { title: "Description", data: function (row, type, set) {
                if (row.hasOwnProperty('description')) {
                  if (row.description)
                    return row.description
                }
                return '-'
              },
            },
            // { title: "Server", data: function (row, type, set) {
            //     if (row.hasOwnProperty('server_addr')) {
            //       if (row.server_addr)
            //         return row.server_addr
            //     }
            //     return '-'
            //   },
            // },
          ],
          layout: {
            topStart: {
              buttons: [
                { text: 'Edit',
                  action: function () { 
                    rows = accessControlsDataTable.rows({ selected: true });
                    editAccessControl(rows.data()[0]['id']);
                  },
                  enabled: false,
                },
                'spacer',
                { text: 'Delete',
                  action: function () { 
                    arr = []
                    accessControlsDataTable.rows('.selected').every( function() {
                      arr.push(this.data().id)
                    });
                    $("#deleteAccessControlsList").text(arr.join(", "));
                    $("#deleteAccessControlsHiddenInput").val(JSON.stringify(arr));
                    $("#deleteModal").modal('show');                    
                  },
                  enabled: false,
                },
                'spacer',
                'spacer',
                'pageLength',
                'spacer',
                {
                  extend: 'collection',
                  text: 'More',
                  dropup: true,
                  buttons: [
                    {
                      extend: 'colvis',
                      text: 'Visible columns',
                      columns: [1,2,3,4,5],
                    },
                    {
                      text: (scrollY == '490px') ? 'Disable scrolling' : 'Enable scrolling',
                      action: function ( e, dt, node, config ) {
                        if (scrollY == '490px') {
                          localStorage.setItem('accessControlsDataTableScrollY', false);
                          scrollY = false
                        }
                        else {
                          localStorage.setItem('accessControlsDataTableScrollY', '490px');
                          scrollY = '490px'
                        }
                        dt.destroy()
                        loadAccessControlsTable()
                      },
                    },
                    {
                      text: 'Reset table state',
                      action: function ( e, dt, node, config ) {
                        dt.state.clear();
                        window.location.reload();
                      },
                    },
                  ]
                }

              ]
            }
          },
          lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],
          ],
          order: [
            [1, 'asc'], 
          ],
          rowId: 'id',
          scrollCollapse: true,
          scrollX: true,
          scrollY: scrollY,
          select: {
            style: 'multi',
            selector: 'td:first-child',
            blurable: true,
            headerCheckbox: 'select-page',
          },
          stateDuration: 0,
          stateSave: true,
        });
      }
      else {
        $('#accessControlsDataTable').DataTable().ajax.reload(null, false);
      }

      accessControlsDataTable.on('select deselect', function () {
        var selectedRows = accessControlsDataTable.rows({ selected: true }).count();
        accessControlsDataTable.button(0).enable(selectedRows === 1);
        accessControlsDataTable.button(2).enable(selectedRows > 0);
      });
    }

    function loadInstructionsModal(){
      $("#instructionsModal").modal('show');
    }

    // Add access control
    function addAccessControl(){
      console.log("Info: adding new group");
      data = $('#addForm').serialize();
      $.post("{{ url_for('api') }}/access-controls/add_access_control", data, function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        setTimeout(() => { reloadPageContent(); }, 1000);
      });
    }

    // Edit access control
    function editAccessControl(id){
      console.log("Info: loading edit access control");
      $.get("{{ url_for('api') }}/access-controls/get_access_control", { 
        id: id,
      }, function (data) {
        data = data.metadata
        console.log(data)
        $('input[id=idEditInput]').val(data.id);
        $('input[id=scopeEditInput]').val(data.scope);
        $('input[id=descriptionEditInput]').val(data.description);
        $('select[id=groupEditInput]').val(data.group_id);
        $('select[id=roleEditInput]').val(data.role_id);
        $("#editModal").modal('show');
      });
    }

    // Update access control
    function updateAccessControl(){
      console.log("Info: adding new access control");
      data = $('#editForm').serialize();
      $.post("{{ url_for('api') }}/access-controls/update_access_control", data, function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Aync type
        setTimeout(() => { reloadPageContent(); }, 2000);
      });
    }

    // Delete access control
    function deleteAccessControls(){
      var deleteAccessControlsHiddenInput = JSON.parse($("#deleteAccessControlsHiddenInput").val());
      console.log("Info: deleting access controls " + deleteAccessControlsHiddenInput.join(", "));
      for (let i = 0; i < deleteAccessControlsHiddenInput.length; i++) {
        $.post("{{ url_for('api') }}/access-controls/delete_access_control", { id: deleteAccessControlsHiddenInput[i] }, function (data) {
          console.log(data);
          if (data.error_code >= 400){
            alert(data.error);
          }
        });
      }

      //Send toast notification
      $('#defaultToastHeader').text('Deleting Access Control(s)')
      $('#defaultToastBody').text(deleteAccessControlsHiddenInput.join(", "))
      defaultToast.show()

      //Sync type
      setTimeout(() => { reloadPageContent(); }, 1000);
    }


    $(document).ready(function(){

      loadPageContent()
      
    });

  </script>
{% endblock script %}
