{% extends "main.html" %}

{% block header %}
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>{{ page_title | safe }}</h1>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary float-sm-right mr-4" data-bs-toggle="modal" data-bs-target="#addModal" title="Add Cluster Group" aria-hidden="true">
        <i class="fas fa-plus fa-sm fa-fw"></i> Cluster Group
      </button>
    </div>
  </div>
{% endblock header %}

{% block content %}
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Cluster Groups</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" onclick="reloadPageContent()" title="Refresh">
          <i class="fas fa-sync"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <table class="table" id="clusterGroupsDataTable" width="100%" cellspacing="0">
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block modal %}
  {% include 'modals/cluster-groups.html' %}
{% endblock modal %}

{% block script %}
  <script>
    var reloadTime = 10000;
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const serverId = urlParams.get('id');
    const project = urlParams.get('project');
    var editedClusterMember = ''
    applySidebarStyles();
    applySidebarLinks();
    populateSidebarLinks();
    populateNavbarLinks();

    function reloadPageContent() {
      //Clear the automatic page reload
      clearTimeout(pageReloadTimeout);

      //Reload the datatables content
      $('#clusterGroupsDataTable').DataTable().ajax.reload(null, false);

      //Set the automatic page reload
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);
    }

    function loadPageContent(){

      //Display the current project
      $("#selectedProject").text(project);

      //Loaded from main.html template
      populateServerSelectDropdown()
      populateProjectSelectDropdown()
      
      // Configure Datatable
      $('#clusterGroupsDataTable').DataTable({
        ajax: {
          url: "{{ url_for('api') }}/cluster-groups/list_cluster_groups?id="+serverId+"&project=" + project + "&recursion=1",
          dataType: "json",
          dataSrc: "metadata",
          contentType: "application/json",
          error: function (xhr, error, code) {
            console.log(xhr, code);
          }
        },
        columns: [
          { title: "Name", data: function (row, type, set) {
              if (row.hasOwnProperty('name')) {
                if (row.name)
                  return row.name
              }
              return '-'
            },
          },
          { title: "Description", data: function (row, type, set) {
              if (row.hasOwnProperty('description')) {
                if (row.description)
                  return row.description
              }
              return '-'
            },
          },
          { title: "Members", data: function (row, type, set) {
              if (row.hasOwnProperty('members')) {
                if (Object.keys(row.members).length > 0) {
                  arr = []
                  for (let i = 0; i < row.members.length; i++) {
                    arr.push(row.members[i]);
                  }
                  return arr.join(", ")
                }
              }
              return '-'
            },
          },

          { title: "Actions", data: function (row, type, set) {
              links = ''
              if (row.hasOwnProperty('name')) {
                links += '<a href="#" onclick=editItem(\''+row.name+'\')><i class="fas fa-edit fa-lg" title="Edit" aria-hidden="true"></i></a>' +
                '&nbsp' + '&nbsp' +
                '<a href="#" onclick=confirmDeleteItem(\''+row.name+'\')><i class="fas fa-trash-alt fa-lg" title="Delete" aria-hidden="true"></i></a>'
              }
              return links
            },
          },

        ],
        order: [],
      });

      //Set reload page content
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);

    }

    function addItem(){
      console.log("Info: adding new item");
      data = $('#addForm').serialize();
      $.post("{{ url_for('api') }}/cluster-groups/add_cluster_group?id="+serverId+"&project="+project, data, function (data) {
        console.log(data)
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        reloadPageContent();
      });
    }

    function confirmDeleteItem(name){
      console.log("Info: confirming deletion of item " + name);
      $("#deleteQuestionText").text("Are you sure you want to remove the cluster group " + name + "?");
      $("#clusterGroup").val(name);
      $("#deleteModal").modal('show');
    }

    function createItemUsingJSON(){
      var json = $("#jsonCreateInput").val();
      console.log("Info: adding new cluster group");
      $.post("{{ url_for('api') }}/cluster-groups/add_cluster_group?id="+serverId+"&project="+project, { json: json },  function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        reloadPageContent();
      });
    }

    function deleteItem(){
      name = $("#clusterGroup").val();
      console.log("Info: deleting item " + name);
      $.post("{{ url_for('api') }}/cluster-groups/delete_cluster_group?id=" + serverId + "&project=" + project, { name: name }, function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        reloadPageContent();
      });
    }

    function editItem(name){
      editedClusterMember = name
      console.log("Info: loading cluster member " + name);
      $.post("{{ url_for('api') }}/cluster-groups/load_cluster_group?id=" + serverId + "&project=" + project, { name: name }, function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        $("#jsonInput").val(JSON.stringify(data.metadata, null, 2));
        $("#editModal").modal('show');
      });
    }

    function renameItem(){
      name = editedClusterMember
      console.log("Info: renaming cluster group");
      data = $('#renameForm').serialize();
      $.post("{{ url_for('api') }}/cluster-groups/update_cluster_group?id=" + serverId + "&project=" + project + "&name=" + encodeURI(name), data, function (data) {
        console.log(data)
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        reloadPageContent();
      });
    }

    function updateItem(){
      name = editedClusterMember
      var updatedJSON = $("#jsonInput").val();
      console.log("Info: updating cluster group");
      $.post("{{ url_for('api') }}/cluster-groups/update_cluster_group?id=" + serverId + "&project=" + project + "&name=" + encodeURI(name), { json: updatedJSON },  function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        reloadPageContent();
      });
    }

    $(document).ready(function(){

      //If id or project variables are missing redirect to servers page
      if (!serverId || !project) {
        window.location.href = "{{ url_for('servers') }}";
      }
      else {
        loadPageContent()
        operationStatusCheck()

        //Populate the Cluster Members Dropdown in Add Modal
        $.getJSON("{{ url_for('api') }}/cluster-members/list_cluster_members?id="+serverId+"&project="+project, function (data) {
          data = data.metadata
          for (var index = 0; index < data.length; index++) {
            optionText = data[index].replace('/1.0/cluster/members/','');
            $('#clusterMembersInput').append('<option value="' + optionText + '">' + optionText + '</option>');
          }
        })

      }
      
    });

  </script>
{% endblock script %}
