{% extends "main.html" %}

{% block header %}
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>{{ page_title | safe }}</h1>
    </div>
    <!--
    <div class="col-sm-6">
      <button class="btn btn-primary float-sm-right mr-4" data-bs-toggle="modal" data-bs-target="#addModal" title="Add Cluster Member" aria-hidden="true">
        <i class="fas fa-plus fa-sm fa-fw"></i> Cluster Member
      </button>
    </div>
    -->
  </div>
{% endblock header %}

{% block content %}
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <table class="table" id="clusterMembersDataTable" width="100%" cellspacing="0">
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block modal %}
  {% include 'modals/cluster-members.html' %}
{% endblock modal %}

{% block script %}
  <script>
    var reloadTime = 10000;
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const serverId = urlParams.get('id');
    const project = urlParams.get('project');
    var editedClusterMember = ''
    var scrollY =  localStorage.getItem('clusterMembersDataTableScrollY') || '490px';
    applySidebarStyles();
    applySidebarLinks();
    populateSidebarLinks();
    populateNavbarLinks();

    function reloadPageContent() {
      //Clear the automatic page reload
      clearTimeout(pageReloadTimeout);

      //Reload the datatables content
      loadClusterMembersTable()

      //Set the automatic page reload
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);
    }

    function loadPageContent(){

      //Display the current project
      $("#selectedProject").text(project);

      //Loaded from main.html template
      populateServerSelectDropdown()
      populateProjectSelectDropdown()

      // Configure Datatable
      loadClusterMembersTable()

      //Set reload page content
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);

    }

    function loadClusterMembersTable() {
      if ( ! $.fn.DataTable.isDataTable( '#clusterMembersDataTable' ) ) {
        clusterMembersDataTable = $('#clusterMembersDataTable').DataTable({
          ajax: {
          url: "{{ url_for('api') }}/cluster-members/list_cluster_members?id="+serverId+"&project=" + project + "&recursion=1",
          dataType: "json",
          dataSrc: "metadata",
          contentType: "application/json",
            error: function (xhr, error, code) {
              console.log(xhr, code);
            }
          },
          columns: [
            {
              data: null,
              orderable: false,
              render: DataTable.render.select()
            },
            { title: "Server Name", data: function (row, type, set) {
                if (row.hasOwnProperty('server_name')) {
                  if (row.server_name)
                    return row.server_name
                }
                return '-'
              },
            },
            { title: "Description", data: function (row, type, set) {
                if (row.hasOwnProperty('description')) {
                  if (row.description)
                    return row.description
                }
                return '-'
              },
            },
            { title: "Roles", data: function (row, type, set) {
                if (row.hasOwnProperty('roles')) {
                  if (row.roles.length > 0){
                    return row.roles.join(', <br />')
                  }
                }
                return '-'
              },
            },
            { title: "URL", data: function (row, type, set) {
                if (row.hasOwnProperty('url')) {
                  if (row.url)
                    return row.url
                }
                return '-'
              },
            },
            { title: "Database", data: function (row, type, set) {
                if (row.hasOwnProperty('database')) {
                  if (row.database)
                    return row.database
                }
                return '-'
              },
            },
            { title: "Status", data: function (row, type, set) {
                if (row.hasOwnProperty('status')) {
                  if (row.status)
                    return row.status
                }
                return '-'
              },
            },
          ],
          layout: {
            topStart: {
              buttons: [
                {
                  extend: 'collection',
                  text: 'State',
                  autoClose: true,
                  enabled: false,
                  buttons: [
                    {
                      text: 'Evacuate',
                      action: function (e, dt, node, config) { 
                        clusterMembersDataTable.rows('.selected').every( function() {
                          changeItemState(this.data().server_name, 'evacuate')
                        })
                      },
                    },
                    {
                      text: 'Restore',
                      action: function () { 
                        clusterMembersDataTable.rows('.selected').every( function() {
                          changeItemState(this.data().server_name, 'restore')
                        })
                      },
                    },
                  ],
                },
                'spacer',
                { text: 'Edit',
                  action: function () { 
                    rows = clusterMembersDataTable.rows({ selected: true });
                    editItem(rows.data()[0]['server_name']);
                  },
                  enabled: false,
                },
                'spacer',
                { text: 'Delete',
                  action: function () { 
                    arr = []
                    arr2 = []
                    clusterMembersDataTable.rows('.selected').every( function() {
                      arr.push(this.data().server_name)
                    });
                    $("#deleteClusterMembersList").text(arr.join(", "));
                    $("#deleteClusterMembersHiddenInput").val(JSON.stringify(arr));
                    $("#deleteModal").modal('show');                    
                  },
                  enabled: false,
                },
                'spacer',
                'spacer',
                'pageLength',
                'spacer',
                {
                  extend: 'collection',
                  text: 'More',
                  buttons: [
                    {
                      extend: 'colvis',
                      text: 'Visible columns',
                      columns: [1,2,3,4,5,6],
                    },
                    {
                      text: (scrollY == '490px') ? 'Disable scrolling' : 'Enable scrolling',
                      action: function ( e, dt, node, config ) {
                        if (scrollY == '490px') {
                          localStorage.setItem('clusterMembersDataTableScrollY', false);
                          scrollY = false
                        }
                        else {
                          localStorage.setItem('clusterMembersDataTableScrollY', '490px');
                          scrollY = '490px'
                        }
                        dt.destroy()
                        loadClusterMembersTable()
                      },
                    },
                    {
                      text: 'Reset table state',
                      action: function ( e, dt, node, config ) {
                        dt.state.clear();
                        window.location.reload();
                      },
                    },
                  ]
                }

              ]
            }
          },
          lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],
          ],
          order: [
            [1, 'asc']
          ],
          rowId: 'server_name',
          scrollCollapse: true,
          scrollX: true,
          scrollY: scrollY,
          select: {
            style: 'multi',
            selector: 'td:first-child',
            blurable: true,
            headerCheckbox: 'select-page',
          },
          stateDuration: 0,
          stateSave: true,
        });
      }
      else {
        $('#clusterMembersDataTable').DataTable().ajax.reload(null, false);
      }

      clusterMembersDataTable.on('select deselect', function () {
        var selectedRows = clusterMembersDataTable.rows({ selected: true }).count();
        clusterMembersDataTable.button(0).enable(selectedRows > 0);
        clusterMembersDataTable.button(2).enable(selectedRows === 1);
        clusterMembersDataTable.button(4).enable(selectedRows > 0);
      });
    }

    function addItem(){
      console.log("Info: adding new item");
      data = $('#addForm').serialize();
      $.post("{{ url_for('api') }}/cluster-members/add_cluster_member?id="+serverId+"&project="+project, data, function (data) {
        console.log(data)
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        reloadPageContent();
      });
    }

    function changeItemState(name, action){
      console.log("Info: " + name + " " + action + " action started");
      $.post("{{ url_for('api') }}/cluster-members/change_cluster_member_state?id=" + serverId + "&project=" + project, { name: name, action: action }, function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Aync type
        setTimeout(() => { reloadPageContent(); }, 2000);
        operationStatusCheck()
      });
    }

    function confirmDeleteItem(name){
      console.log("Info: confirming deletion of item " + name);
      $("#deleteQuestionText").text("Are you sure you want to remove " + name + " from the cluster?");
      $("#clusterMember").val(name);
      $("#deleteModal").modal('show');
    }

    function createItemUsingJSON(){
      var json = $("#jsonCreateInput").val();
      console.log("Info: adding new project");
      $.post("{{ url_for('api') }}/cluster-members/add_cluster_member?id="+serverId+"&project="+project, { json: json },  function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        reloadPageContent();
      });
    }

    function deleteItems(){
      var deleteClusterMembersHiddenInput = JSON.parse($("#deleteClusterMembersHiddenInput").val());
      if ($('#forceDeleteClusterMembersInput').is(':checked')) {
        force = "true";
      }
      else {
        force = "false";
      }
      console.log("Info: deleting cluster members " + deleteClusterMembersHiddenInput.join(", "));
      for (let i = 0; i < deleteClusterMembersHiddenInput.length; i++) {
        $.post("{{ url_for('api') }}/cluster-members/delete_cluster_member?id=" + serverId + "&project=" + project, { name: deleteClusterMembersHiddenInput[i], force: force }, function (data) {
          console.log(data);
          if (data.error_code >= 400){
            alert(data.error);
          }
        });
      }

      //Send toast notification
      deleteClusterMembersHiddenInput.forEach(element => {
        createToast(element, 'deleting cluster member')
      });

      //Sync type
      setTimeout(() => { reloadPageContent(); }, 1000);
      operationStatusCheck()
    }

    function editItem(name){
      editedClusterMember = name
      console.log("Info: loading cluster member " + name);
      $.post("{{ url_for('api') }}/cluster-members/load_cluster_member?id=" + serverId + "&project=" + project, { name: name }, function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        $("#storagePoolNameEditInput").text("Name: " + name);
        $("#jsonInput").val(JSON.stringify(data.metadata, null, 2));
        $("#editModal").modal('show');
      });
    }

    function renameItem(){
      name = editedClusterMember
      console.log("Info: renaming cluster group");
      data = $('#renameForm').serialize();
      $.post("{{ url_for('api') }}/cluster-members/update_cluster_member?id=" + serverId + "&project=" + project + "&name=" + encodeURI(name), data, function (data) {
        console.log(data)
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        reloadPageContent();
      });
    }

    function updateItem(){
      name = editedClusterMember
      var updatedJSON = $("#jsonInput").val();
      console.log("Info: updating cluster member");
      $.post("{{ url_for('api') }}/cluster-members/update_cluster_member?id=" + serverId + "&project=" + project + "&name=" + encodeURI(name), { json: updatedJSON },  function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        reloadPageContent();
      });
    }

    $(document).ready(function(){

      //If id or project variables are missing redirect to servers page
      if (!serverId || !project) {
        window.location.href = "{{ url_for('servers') }}";
      }
      else {
        loadPageContent()
        operationStatusCheck()
      }
      
    });

  </script>
{% endblock script %}
