{% extends "main.html" %}

{% block header %}
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>{{ page_title | safe }}</h1>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary float-sm-right mr-4" data-bs-toggle="modal" data-bs-target="#addModal" title="Add Image" aria-hidden="true">
        <i class="fas fa-plus fa-sm fa-fw"></i> Image
      </button>
    </div>
  </div>
{% endblock header %}

{% block content %}
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <table class="table" id="imagesDataTable" width="100%" cellspacing="0">
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block modal %}
  {% include 'modals/images.html' %}
{% endblock modal %}

{% block script %}
  <script>
    var reloadTime = 10000;
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const serverId = urlParams.get('id');
    const project = urlParams.get('project');
    var scrollY =  localStorage.getItem('imagesDataTableScrollY') || '490px';
    var editedImage = ''
    applySidebarStyles();
    applySidebarLinks();
    populateSidebarLinks();
    populateNavbarLinks();

    function reloadPageContent() {
      //Clear the automatic page reload
      clearTimeout(pageReloadTimeout);

      //Reload the datatables content
      loadImagesTable()

      //Set the automatic page reload
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);
    }

    function loadPageContent(){

      //Display the current project
      $("#selectedProject").text(project);

      //Loaded from main.html template
      populateServerSelectDropdown()
      populateProjectSelectDropdown()
      
      // Configure Datatable
      loadImagesTable()
      
      //Populate the Registries dropdown in addModal
      $.getJSON("{{ url_for('api') }}/registries/list_registries?id="+serverId, function (data) {
        data = data.data
        for (var index = 0; index < data.length; index++) {
          if (data[index].alias == '')
            optionText = "url: " + data[index].url + " (" + data[index].protocol + ")"
          else
            optionText = data[index].alias
          $('#selectRegistryInput').append('<option value="' + data[index].id + '">' + optionText + '</option>');
        }
      })

      //Populate the Simplestreams dropdown in addModal
      $.getJSON("{{ url_for('api') }}/simplestreams/list_simplestreams?id="+serverId, function (data) {
        data = data.data
        for (var index = 0; index < data.length; index++) {
          if (data[index].alias == '')
            optionText = "url: " + data[index].url
          else
            optionText = data[index].alias
          $('#selectRepoInput').append('<option value="' + data[index].id + '">' + optionText + '</option>');
        }
      })

      //Populate the image catalog choices
      updateCatalog()

      //Set reload page content
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);

    }

    function loadImagesTable(){
      if ( ! $.fn.DataTable.isDataTable( '#imagesDataTable' ) ) {
        imagesDataTable = $('#imagesDataTable').DataTable({
          ajax: {
            url: "{{ url_for('api') }}/images/list_images?id="+serverId + "&project=" + project + "&recursion=1",
            dataType: "json",
            dataSrc: "metadata",
            contentType: "application/json",
            error: function (xhr, error, code) {
              console.log(xhr, code);
            }
          },
          columns: [
            {
              data: null,
              orderable: false,
              render: DataTable.render.select()
            },
            { title: "Alias", data: function (row, type, set) {
              arr = []
              if (row.hasOwnProperty('aliases')) {
                for (item in row.aliases) {
                  if (row.aliases[item].hasOwnProperty('name')) {
                    if (row.aliases[item].name != "") {
                      arr.push(row.aliases[item].name)
                    }
                  }
                }
                if (arr.length > 0) {
                  if (type === 'display'){
                    return arr.join(", ")
                  }
                  return arr.join(" ") 
                }
              }
              if (row.hasOwnProperty('update_source')) {
                if (row.update_source.hasOwnProperty('alias')) {
                  if (row.update_source['alias'] != "") {
                    return row.update_source['alias']
                  }
                }
              }
              return '-'
              },
            },
            { title: "Description", data: function (row, type, set) {
              if (row.hasOwnProperty('properties')) {
                if (row.properties.hasOwnProperty('description')) {
                  if (row.properties['description'] != "") {
                    return row.properties['description']
                  }
                }
              }
              return '-'
              },
            },
            { title: "Update Server", data: function (row, type, set) {
              if (row.hasOwnProperty('update_source')) {
                if (row.update_source.hasOwnProperty('server')) {
                  return row.update_source['server']
                }
              }
              return '-'
              },
            },
            { title: "Fingerprint", data: function (row, type, set) {
                if (row.hasOwnProperty('fingerprint')) {
                  if (row.fingerprint){
                    if (type === 'display'){
                      return row.fingerprint.substring(0,12) + "...";
                    }
                    return row.fingerprint
                  }
                }
                return '-'
              },
            },
            { title: "Type", data: function (row, type, set) {
                if (row.hasOwnProperty('type')) {
                  if (row.type)
                    return row.type
                }
                return '-'
              },
            },
            { title: "Size", data: function (row, type, set) {
                if (row.hasOwnProperty('size')) {
                  if (row.size) {
                    if (type === 'display'){
                      size = row.size / 1024 / 1024
                      return size.toFixed(2) + ' MiB'
                    }
                    return row.size
                  }
                }
                return '-'
              },
            },
          ],
          layout: {
            topStart: {
              buttons: [
                { text: 'Edit',
                  action: function () { 
                    rows = imagesDataTable.rows({ selected: true });
                    editImage(rows.data()[0]['fingerprint']);
                  },
                  enabled: false,
                },
                'spacer',
                { text: 'Refresh',
                  action: function () { 
                    arr = []
                    imagesDataTable.rows('.selected').every( function() {
                      refreshImage(this.data().fingerprint);
                      arr.push(this.data().fingerprint)
                    });
                    //Send toast notification
                    $('#wideToastHeader').text('Refreshing Image(s)')
                    $('#wideToastBody').text(arr.join(", "))
                    wideToast.show()
                  },
                  enabled: false,
                },
                'spacer',
                { text: 'Delete',
                  action: function () { 
                    arr = []
                    imagesDataTable.rows('.selected').every( function() {
                      arr.push(this.data().fingerprint)
                    });
                    $("#deleteImagesList").text(arr.join(", "));
                    $("#deleteImagesHiddenInput").val(JSON.stringify(arr));
                    $("#deleteModal").modal('show');                    
                  },
                  enabled: false,
                },
                'spacer',
                'spacer',
                'pageLength',
                'spacer',
                {
                  extend: 'collection',
                  text: 'More',
                  dropup: true,
                  buttons: [
                    {
                      extend: 'colvis',
                      text: 'Visible columns',
                      columns: [1,2,3,4,5,6],
                    },
                    // {
                    //   extend: 'csv',
                    //   exportOptions: {
                    //     columns: [1,2,3,4,5,6],
                    //     orthogonal: 'export',
                    //   },
                    //   text: 'Export to CSV',
                    //   title: 'images',
                    // },
                    {
                      text: (scrollY == '490px') ? 'Disable scrolling' : 'Enable scrolling',
                      action: function ( e, dt, node, config ) {
                        if (scrollY == '490px') {
                          localStorage.setItem('imagesDataTableScrollY', false);
                          scrollY = false
                        }
                        else {
                          localStorage.setItem('imagesDataTableScrollY', '490px');
                          scrollY = '490px'
                        }
                        dt.destroy()
                        loadImagesTable()
                      },
                    },
                    {
                      text: 'Reset table state',
                      action: function ( e, dt, node, config ) {
                        dt.state.clear();
                        window.location.reload();
                      },
                    },
                  ]
                }

              ]
            }
          },
          lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],
          ],
          order: [
            [1, 'asc'], 
            [5, 'asc'], 
            [2, 'asc'],
          ],
          rowId: 'fingerprint',
          scrollCollapse: true,
          scrollX: true,
          scrollY: scrollY,
          select: {
            style: 'multi',
            selector: 'td:first-child',
            blurable: true,
            headerCheckbox: 'select-page',
          },
          stateDuration: 0,
          stateSave: true,
        });
      }
      else {
        $('#imagesDataTable').DataTable().ajax.reload(null, false);
      }

      imagesDataTable.on('select deselect', function () {
        var selectedRows = imagesDataTable.rows({ selected: true }).count();
        imagesDataTable.button(0).enable(selectedRows === 1);
        imagesDataTable.button(2).enable(selectedRows > 0);
        imagesDataTable.button(4).enable(selectedRows > 0);
      });
    }

    function deleteImages(){
      var deleteImagesHiddenInput = JSON.parse($("#deleteImagesHiddenInput").val());
      console.log("Info: deleting images " + deleteImagesHiddenInput.join(", "));
      for (let i = 0; i < deleteImagesHiddenInput.length; i++) {
        $.post("{{ url_for('api') }}/images/delete_image?id=" + serverId + "&project=" + project, { fingerprint: deleteImagesHiddenInput[i] }, function (data) {
          console.log(data);
          if (data.error_code >= 400){
            alert(data.error);
          }
        });
      }
        
      //Send toast notification
      $('#wideToastHeader').text('Deleting Image(s)')
      $('#wideToastBody').text(deleteImagesHiddenInput.join(", "))
      wideToast.show()

      //Sync type
      setTimeout(() => { reloadPageContent(); }, 1000);
      operationStatusCheck()
    }

    function refreshImage(fingerprint){
      console.log("Info: refreshing image " + fingerprint);
      $.post("{{ url_for('api') }}/images/refresh_image?id="+serverId+"&project="+project, { fingerprint: fingerprint },  function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Async type
        setTimeout(() => { reloadPageContent(); }, 2000);
        operationStatusCheck()
      });
    }

    function editImage(fingerprint){
      editedImage = fingerprint
      console.log("Info: loading image " + fingerprint);
      $.post("{{ url_for('api') }}/images/load_image?id=" + serverId + "&project=" + project, { fingerprint: fingerprint }, function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        $("#imageNameEditInput").text("Fingerprint: " + fingerprint);
        $("#jsonInput").val(JSON.stringify(data.metadata, null, 2));
        $("#editModal").modal('show');
      });
    }

    function updateImage(){
      fingerprint = editedImage
      var updatedJSON = $("#jsonInput").val();
      console.log("Info: updating image");
      $.post("{{ url_for('api') }}/images/update_image?id=" + serverId + "&project=" + project + "&fingerprint=" + encodeURI(fingerprint), { json: updatedJSON },  function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        setTimeout(() => { reloadPageContent(); }, 1000);
        operationStatusCheck()
      });
    }

    function addItem(){
      console.log("Info: downloading image");
      data = $('#addForm').serialize();
      $.post("{{ url_for('api') }}/images/add_image?id="+serverId+"&project="+project, data, function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Async type
        setTimeout(() => { reloadPageContent(); }, 2000);
        operationStatusCheck()
      });
    }

    function addCatalogImage(){
      image = $("#operatingSystem").val();
      imageVersion = $("#operatingSystemVersion").val();
      imageVariant = $("#operatingSystemVariant").val();
      imageType = $("#operatingSystemType").val();
      console.log("Info: downloading image " + image);
      $.post("{{ url_for('api') }}/images/add_image?id="+serverId+"&project="+project, { image: image, image_version: imageVersion, image_variant: imageVariant, image_type: imageType },  function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Async type
        setTimeout(() => { reloadPageContent(); }, 2000);
        operationStatusCheck()
      });
    }

    function updateCatalog(){
      catalog_images = {}
      console.log("Info: updating catalog images");
      $.get("{{ url_for('api') }}/images/list_simplestream_images?id="+serverId+"&project="+project,  function (data) {
        //Clear operating system select options in modal
        $("#operatingSystem").empty();
        //Loop through each operating system item
        for (i = 0; i < data.length; i++) {
          // Split the string by semicolon. Ex: "almalinux:8:amd64:cloud"
          image = data[i].split(':')
          //Check that operating system is not already in catalog_images object
          if (!(image[0] in catalog_images)){
            catalog_images[image[0]] = { "versions": [ image[1] ], "variants": [image[3]] }
            $('#operatingSystem').append('<option value="' + image[0] + '">' + image[0] + '</option>');
          }
          //Populate OS versions
          if (!(catalog_images[image[0]]['versions'].includes(image[1]))){
            catalog_images[image[0]]['versions'].push(image[1])
          }
          //Populate OS variants
          if (!(catalog_images[image[0]]['variants'].includes(image[3]))){
            catalog_images[image[0]]['variants'].push(image[3])
          }
        }
        //Check if we populated any operating systems and store them in session storage
        if (Object.keys(catalog_images).length > 0) {
          sessionStorage.setItem('catalog_images', JSON.stringify(catalog_images))
        }

        //Update the OS version options based on selected OS
        updateOSVersion()

      });
    }

    function updateOSVersion(){
      catalog_images = {}
      if (sessionStorage.getItem("catalog_images") != null) {
        catalog_images = JSON.parse(sessionStorage.getItem('catalog_images'))
        if (Object.keys(catalog_images).length > 0) {
          $("#operatingSystemVersion").empty();
          os = $("#operatingSystem option:selected").text();
          for (let i = 0; i < catalog_images[os]['versions'].length; i++) {
            $('#operatingSystemVersion').append('<option value="' + catalog_images[os]['versions'][i] + '">' + catalog_images[os]['versions'][i] + '</option>');
          }
        }
      }
      //Update the OS Variant
      updateOSVariant()
    }

    function updateOSVariant(){
      catalog_images = {}
      if (sessionStorage.getItem("catalog_images") != null) {
        catalog_images = JSON.parse(sessionStorage.getItem('catalog_images'))
        if (Object.keys(catalog_images).length > 0) {
          $("#operatingSystemVariant").empty();
          os = $("#operatingSystem option:selected").text();
          for (let i = 0; i < catalog_images[os]['variants'].length; i++) {
            if (catalog_images[os]['variants'][i] == 'default') {
              $('#operatingSystemVariant').append('<option value="' + catalog_images[os]['variants'][i] + '" selected>' + catalog_images[os]['variants'][i] + '</option>');
            }
            else {
              $('#operatingSystemVariant').append('<option value="' + catalog_images[os]['variants'][i] + '">' + catalog_images[os]['variants'][i] + '</option>');
            }
          }
        }
      }
    }

    function updateRegistrySource(){
      if ($("#selectRegistrySourceInput").val() == 'registries') {
        $("#registryOption").show()
        $("#simplestreamsOption").hide()
      }
      else {
        $("#registryOption").hide()
        $("#simplestreamsOption").show()
      }
    }

    $(document).ready(function(){

      //If id or project variables are missing redirect to servers page
      if (!serverId || !project) {
        window.location.href = "{{ url_for('servers') }}";
      }
      else {
        loadPageContent()
        operationStatusCheck()
      }
  
    });

  </script>
{% endblock script %}
