{% extends "main.html" %}

{% block header %}
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>{{ page_title | safe }}</h1>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary float-sm-right mr-4" data-bs-toggle="modal" data-bs-target="#addModal" title="Add Instance" aria-hidden="true">
        <i class="fas fa-plus fa-sm fa-fw"></i> Instance
      </button>
    </div>
  </div>
{% endblock header %}

{% block content %}
  <div class="col-12">
    <nav>
      <div class="nav nav-tabs" id="nav-page-tab" role="tablist">
        <button class="nav-link active" id="nav-containers-tab" data-bs-toggle="tab" data-bs-target="#nav-containers" type="button" role="tab" aria-controls="nav-containers" aria-selected="true">Containers</button>
        <button class="nav-link" id="nav-virtual-machines-tab" data-bs-toggle="tab" data-bs-target="#nav-virtual-machines" type="button" role="tab" aria-controls="nav-virtual-machines" aria-selected="false">Virtual-Machines</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-page-content">
      <div class="tab-pane fade show active" id="nav-containers" role="tabpanel" aria-labelledby="nav-containers-tab">
        <div class="card">
          <div class="card-body">
            <table class="table" id="containersDataTable" width="100%" cellspacing="0"></table>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-virtual-machines" role="tabpanel" aria-labelledby="nav-virtual-machines-tab">
        <div class="card">
          <div class="card-body">
            <table class="table" id="virtualMachinesDataTable" width="100%" cellspacing="0"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block modal %}
  {% include 'modals/instances.html' %}
{% endblock modal %}

{% block script %}
  <script>
    var reloadTime = 10000;
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const serverId = urlParams.get('id');
    const project = urlParams.get('project');
    const hash = document.location.hash;
    var scrollY =  localStorage.getItem('instancesDataTableScrollY') || '490px';
    applySidebarStyles();
    applySidebarLinks();
    populateSidebarLinks();
    populateNavbarLinks();

    function reloadPageContent() {
      //Clear the automatic page reload
      clearTimeout(pageReloadTimeout);

      //Reload the datatables content
      loadContainersTable()
      loadVirtualMachinesTable()

      //Set the automatic page reload
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);
    }

    function loadPageContent(){

      //Display the current project
      $("#selectedProject").text(project);

      //Loaded from main.html template
      populateServerSelectDropdown()
      populateProjectSelectDropdown()
      
      //Populate the create instance modal Profile dropdown
      $.getJSON("{{ url_for('api') }}/profiles/list_profiles?id="+serverId+"&project="+project, function (data) {
        data = data.metadata
        for (var index = 0; index < data.length; index++) {
          //When using projects other than default and no recursion, it gets like URL variable with "?"
          optionText = data[index].split("?")
          optionText = optionText[0].replace('/1.0/profiles/','');
          if (optionText == 'default') {
            $('#instanceProfileInput').append('<option value="' + optionText + '" selected="selected">' + optionText + '</option>');
          }
          else {
            $('#instanceProfileInput').append('<option value="' + optionText + '">' + optionText + '</option>');
          }
        }
        //Setup choices.js multiselect for profiles dropdown in modal
        new Choices(document.querySelector(".choices-multiple"));
      })

      //Populate the create instance modal Storge Pool dropdown
      $.getJSON("{{ url_for('api') }}/storage-pools/list_storage_pools?id="+serverId+"&project="+project, function (data) {
        data = data.metadata
        for (var index = 0; index < data.length; index++) {
          optionText = data[index].replace('/1.0/storage-pools/','');
          if (optionText == 'default')
            $('#instanceStoragePoolInput').append('<option value="' + optionText + '" selected="selected">' + optionText + '</option>');
          else
            $('#instanceStoragePoolInput').append('<option value="' + optionText + '">' + optionText + '</option>');
        }
      })

      //Populate the create instance modal Location dropdown
      $.getJSON("{{ url_for('api') }}/cluster-members/list_cluster_members?id="+serverId+"&project="+project, function (data) {
        data = data.metadata
        for (var index = 0; index < data.length; index++) {
          optionText = data[index].replace('/1.0/cluster/members/','');
          $('#instanceLocationInput').append('<option value="' + optionText + '">' + optionText + '</option>');
        }
      })

      $.getJSON("{{ url_for('api') }}/cluster-groups/list_cluster_groups?id="+serverId+"&project="+project, function (data) {
        data = data.metadata
        for (var index = 0; index < data.length; index++) {
          optionText = data[index].replace('/1.0/cluster/groups/','');
          $('#instanceLocationInput').append('<option value="@' + optionText + '">@' + optionText + '</option>');
        }
      })

      loadContainersTable()
      loadVirtualMachinesTable()

      changeInstanceModalTypeOptions()

      //Set reload page content
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);

    }

    function populateContainerImages() {
      $("#instanceImageInput").empty().append('<option value="none">none</option>');
      //Populate the modal Image dropdown
      $.getJSON("{{ url_for('api') }}/images/list_images?id="+serverId+"&project="+project+"&recursion=1", function (data) {
        data = data.metadata
        for (var index = 0; index < data.length; index++) {

          // Set dropdown text for image choices
          arr = []
          imageDropdownText = data[index].properties.description + " (" + data[index].fingerprint.substring(0,11) + "...)"
          if (data[index].hasOwnProperty('aliases')) {
            for (item in data[index].aliases) {
              if (data[index].aliases[item].hasOwnProperty('name')) {
                if (data[index].aliases[item].name != "") {
                  arr.push(data[index].aliases[item].name)
                }
              }
            }
            if (arr.length > 0) {
              imageDropdownText =  arr.join(", ") + " (" + data[index].fingerprint.substring(0,11) + "...)"
            }
          }
          if (data[index].hasOwnProperty('update_source')) {
            if (data[index].update_source.hasOwnProperty('alias')) {
              if (data[index].update_source['alias'] != "") {
                imageDropdownText = data[index].update_source['alias'] + " (" + data[index].fingerprint.substring(0,11) + "...)"
              }
            }
          }

          // Earlier versions of LXD did not have type property. These only supported container type instances
          if (data[index].hasOwnProperty('type')) {
            if(data[index].type == 'container'){
              $('#instanceImageInput').append('<option value="' + data[index].fingerprint + '">' + imageDropdownText + '</option>');
            }
          }
          else {
            //Backwards compatable support when there were only containers available in LXD
            $('#instanceImageInput').append('<option value="' + data[index].fingerprint + '">' + imageDropdownText + '</option>');
          }
        }
      })
    }

    function populateVirtualMachineImages() {
      $("#instanceImageInput").empty().append('<option value="none">none</option>');
      //Populate the modal Image dropdown
      $.getJSON("{{ url_for('api') }}/images/list_images?id="+serverId+"&project="+project+"&recursion=1", function (data) {
        data = data.metadata
        for (var index = 0; index < data.length; index++) {

          // Set dropdown text for image choices
          arr = []
          imageDropdownText = data[index].properties.description + " (" + data[index].fingerprint.substring(0,11) + "...)"
          if (data[index].hasOwnProperty('aliases')) {
            for (item in data[index].aliases) {
              if (data[index].aliases[item].hasOwnProperty('name')) {
                if (data[index].aliases[item].name != "") {
                  arr.push(data[index].aliases[item].name)
                }
              }
            }
            if (arr.length > 0) {
              imageDropdownText =  arr.join(", ") + " (" + data[index].fingerprint.substring(0,11) + "...)"
            }
          }
          if (data[index].hasOwnProperty('update_source')) {
            if (data[index].update_source.hasOwnProperty('alias')) {
              if (data[index].update_source['alias'] != "") {
                imageDropdownText = data[index].update_source['alias'] + " (" + data[index].fingerprint.substring(0,11) + "...)"
              }
            }
          }

          // Earlier versions of LXD did not have type property. These only supported container type instances
          if (data[index].hasOwnProperty('type')) {
            if(data[index].type == 'virtual-machine'){
              $('#instanceImageInput').append('<option value="' + data[index].fingerprint + '">' + imageDropdownText + '</option>');
            }
          }
        }
      })
    }

    function loadContainersTable() {
      if ( ! $.fn.DataTable.isDataTable( '#containersDataTable' ) ) {
        containersDataTable = $('#containersDataTable').DataTable({
          ajax: {
            url: "{{ url_for('api') }}/instances/list_instances?id=" + serverId + "&filter=container" + "&project=" + project + "&recursion=2",
            dataType: "json",
            dataSrc: "metadata",
            contentType: "application/json",
            error: function (xhr, error, code) {
              console.log(xhr, code);
            }
          },
          columns: [
            {
              data: null,
              orderable: false,
              render: DataTable.render.select()
            },
            { title: "Name", data: function (row, type, set) {
                if (row.hasOwnProperty('name')) {
                  if (row.name)
                    return "<a href=\"{{ url_for('instance') }}?id=" + serverId + '&project=' + project + '&instance=' + row.name + '&type=container">' + row.name + '</a>';
                }
                return '-'
              },
            },
            { title: "Status", data: function (row, type, set) {
                if (row.hasOwnProperty('status')) {
                  if (row.status){
                    if (row.status == "Running") {
                      return '<i class="fas fa-check-circle fa-sm text-success mr-1" aria-hidden="true"></i> Running'
                    }
                    if (row.status == "Stopped") {
                      return '<i class="fas fa-minus-circle fa-sm text-secondary mr-1" aria-hidden="true"></i> Stopped'
                    }
                    if (row.status == "Frozen") {
                      return '<i class="fas fa-pause-circle fa-sm text-info mr-1" aria-hidden="true"></i> Frozen'
                    }
                    if (row.status == "Error") {
                      return '<i class="fas fa-times-circle fa-sm text-danger mr-1" aria-hidden="true"></i> Error'
                    }
                    return row.status
                  }
                }
                return '-'
              },
            },
            { title: "OS", data: function (row, type, set) {
                if (row.hasOwnProperty('expanded_config')) {
                  if (row.expanded_config.hasOwnProperty('image.os')) {
                    if (row.expanded_config['image.os']){
                      return row.expanded_config['image.os']
                    }
                  }
                }
                return '-'
              },
            },
            { title: "Location", data: function (row, type, set) {
                if (row.hasOwnProperty('location')) {
                  if (row.location){
                    return row.location
                  }
                }
                return '-'
              },
            },
            { title: "IPv4", data: function (row, type, set) {
                if (row.hasOwnProperty('ipv4_addresses')) {
                  if (row.ipv4_addresses.length > 0){
                    return row.ipv4_addresses.join(', <br />')
                  }
                }
                return '-'
              },
            },
            { title: "IPv6", data: function (row, type, set) {
                if (row.hasOwnProperty('ipv6_addresses')) {
                  if (row.ipv6_addresses.length > 0){
                    return row.ipv6_addresses.join(', <br />')
                  }
                }
                return '-'
              },
            },
            { title: "Memory", data: function (row, type, set) {
                if (row.hasOwnProperty('memory')) {
                  if (row.memory){
                    if (type === 'display'){
                      return (row.memory / 1024 / 1024).toFixed(2) + ' MiB'
                    }
                    return row.memory
                  }
                }
                return '-'
              },
            },
            { title: "Root Disk", data: function (row, type, set) {
                if (row.hasOwnProperty('disk')) {
                  if (row.disk){
                    if (type === 'display'){
                      return (row.disk / 1024 / 1024).toFixed(2) + ' MiB'
                    }
                    return row.disk
                  }
                }
                return '-'
              },
            },
            { title: "Started At", data: function (row, type, set) {
                if (row.hasOwnProperty('state')) {
                  if (row.state.hasOwnProperty('started_at')) {
                    if (row.state['started_at'] && row.state['started_at'] != '0001-01-01T00:00:00Z'){
                      timestamp = new Date(row.state['started_at'])
                      timestamp.setMilliseconds(0);
                      return timestamp.toISOString().replace(".000Z", "Z").replace("T", " ");
                    }
                  }
                }
                return '-'
              },
            },
          ],
          layout: {
            topStart: {
              buttons: [
                {
                  extend: 'collection',
                  text: 'State',
                  autoClose: true,
                  enabled: false,
                  buttons: [
                    {
                      text: 'Start',
                      action: function () { 
                        containersDataTable.rows('.selected').every( function() {
                          changeItemState(this.data().name, 'start')
                        })
                      },
                    },
                    {
                      text: 'Stop',
                      action: function () { 
                        containersDataTable.rows('.selected').every( function() {
                          changeItemState(this.data().name, 'stop')
                        })
                      },
                    },
                    {
                      text: 'Unfreeze',
                      action: function () { 
                        containersDataTable.rows('.selected').every( function() {
                          changeItemState(this.data().name, 'unfreeze')
                        })
                      },
                    },
                    {
                      text: 'Freeze',
                      action: function () { 
                        containersDataTable.rows('.selected').every( function() {
                          changeItemState(this.data().name, 'freeze')
                        })
                      },
                    },
                  ],
                },
                'spacer',
                { text: 'Edit',
                  action: function () { 
                    rows = containersDataTable.rows({ selected: true });
                    editInstance(rows.data()[0]['name'], rows.data()[0]['name']);
                  },
                  enabled: false,
                },
                'spacer',
                { text: 'Delete',
                  action: function () { 
                    arr = []
                    containersDataTable.rows('.selected').every( function() {
                      arr.push(this.data().name)
                    });
                    $("#deleteInstancesList").text(arr.join(", "));
                    $("#deleteInstancesHiddenInput").val(JSON.stringify(arr));
                    $("#deleteModal").modal('show');                    
                  },
                  enabled: false,
                },
                'spacer',
                'spacer',
                'pageLength',
                'spacer',
                {
                  extend: 'collection',
                  text: 'More',
                  
                  buttons: [
                    {
                      extend: 'colvis',
                      text: 'Visible columns',
                      columns: [1,2,3,4,5,6,7,8,9],
                    },
                    {
                      text: (scrollY == '490px') ? 'Disable scrolling' : 'Enable scrolling',
                      action: function ( e, dt, node, config ) {
                        if (scrollY == '490px') {
                          localStorage.setItem('instancesDataTableScrollY', false);
                          scrollY = false
                        }
                        else {
                          localStorage.setItem('instancesDataTableScrollY', '490px');
                          scrollY = '490px'
                        }
                        dt.destroy()
                        loadContainersTable()
                      },
                    },
                    {
                      text: 'Reset table state',
                      action: function ( e, dt, node, config ) {
                        dt.state.clear();
                        window.location.reload();
                      },
                    },
                  ]
                },
              ]
            }
          },
          lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],
          ],
          order: [
            [1, 'asc'], 
          ],
          rowId: 'name',
          scrollCollapse: true,
          scrollX: true,
          scrollY: scrollY,
          select: {
            style: 'multi',
            selector: 'td:first-child',
            blurable: true,
            headerCheckbox: 'select-page',
          },
          stateDuration: 0,
          stateSave: true,
        });
      }
      else {
        $('#containersDataTable').DataTable().ajax.reload(null, false);
      }

      containersDataTable.on('select deselect', function () {
        var selectedRows = containersDataTable.rows({ selected: true }).count();
        containersDataTable.button(0).enable(selectedRows > 0);
        containersDataTable.button(2).enable(selectedRows === 1);
        containersDataTable.button(4).enable(selectedRows > 0);
      });
    }

    function loadVirtualMachinesTable() {
      if ( ! $.fn.DataTable.isDataTable( '#virtualMachinesDataTable' ) ) {
        virtualMachinesDataTable = $('#virtualMachinesDataTable').DataTable({
          ajax: {
            url: "{{ url_for('api') }}/instances/list_instances?id=" + serverId + "&filter=virtual-machine" + "&project=" + project + "&recursion=2",
            dataType: "json",
            dataSrc: "metadata",
            contentType: "application/json",
            error: function (xhr, error, code) {
              console.log(xhr, code);
            }
          },
          columns: [
            {
              data: null,
              orderable: false,
              render: DataTable.render.select()
            },
            { title: "Name", data: function (row, type, set) {
                if (row.hasOwnProperty('name')) {
                  if (row.name)
                  return "<a href=\"{{ url_for('instance') }}?id=" + serverId + '&project=' + project + '&instance=' + row.name + '&type=virtual-machine">' + row.name + '</a>';
                }
                return '-'
              },
            },
            { title: "Status", data: function (row, type, set) {
                if (row.hasOwnProperty('status')) {
                  if (row.status){
                    if (row.status == "Running") {
                      return '<i class="fas fa-check-circle fa-sm text-success mr-1" aria-hidden="true"></i> Running'
                    }
                    if (row.status == "Stopped") {
                      return '<i class="fas fa-minus-circle fa-sm text-secondary mr-1" aria-hidden="true"></i> Stopped'
                    }
                    if (row.status == "Frozen") {
                      return '<i class="fas fa-pause-circle fa-sm text-info mr-1" aria-hidden="true"></i> Frozen'
                    }
                    if (row.status == "Error") {
                      return '<i class="fas fa-times-circle fa-sm text-danger mr-1" aria-hidden="true"></i> Error'
                    }
                    return row.status
                  }
                }
                return '-'
              },
            },
            { title: "OS", data: function (row, type, set) {
                if (row.hasOwnProperty('expanded_config')) {
                  if (row.expanded_config.hasOwnProperty('image.os')) {
                    if (row.expanded_config['image.os']){
                      return row.expanded_config['image.os']
                    }
                  }
                }
                return '-'
              },
            },
            { title: "Location", data: function (row, type, set) {
                if (row.hasOwnProperty('location')) {
                  if (row.location){
                    return row.location
                  }
                }
                return '-'
              },
            },
            { title: "IPv4", data: function (row, type, set) {
                if (row.hasOwnProperty('ipv4_addresses')) {
                  if (row.ipv4_addresses.length > 0){
                    return row.ipv4_addresses.join(', <br />')
                  }
                }
                return '-'
              },
            },
            { title: "IPv6", data: function (row, type, set) {
                if (row.hasOwnProperty('ipv6_addresses')) {
                  if (row.ipv6_addresses.length > 0){
                    return row.ipv6_addresses.join(', <br />')
                  }
                }
                return '-'
              },
            },
            { title: "Memory", data: function (row, type, set) {
                if (row.hasOwnProperty('memory')) {
                  if (row.memory){
                    if (type === 'display'){
                      return (row.memory / 1024 / 1024).toFixed(2) + ' MiB'
                    }
                    return row.memory
                  }
                }
                return '-'
              },
            },
            { title: "Root Disk", data: function (row, type, set) {
                if (row.hasOwnProperty('disk')) {
                  if (row.disk){
                    if (type === 'display'){
                      return (row.disk / 1024 / 1024).toFixed(2) + ' MiB'
                    }
                    return row.disk
                  }
                }
                return '-'
              },
            },
            { title: "Started At", data: function (row, type, set) {
                if (row.hasOwnProperty('state')) {
                  if (row.state.hasOwnProperty('started_at')) {
                    if (row.state['started_at'] && row.state['started_at'] != '0001-01-01T00:00:00Z'){
                      timestamp = new Date(row.state['started_at'])
                      timestamp.setMilliseconds(0);
                      return timestamp.toISOString().replace(".000Z", "Z").replace("T", " ");
                    }
                  }
                }
                return '-'
              },
            },
          ],
          layout: {
            topStart: {
              buttons: [
                {
                  extend: 'collection',
                  text: 'State',
                  autoClose: true,
                  enabled: false,
                  buttons: [
                    {
                      text: 'Start',
                      action: function (e, dt, node, config) { 
                        virtualMachinesDataTable.rows('.selected').every( function() {
                          changeItemState(this.data().name, 'start')
                        })
                      },
                    },
                    {
                      text: 'Stop',
                      action: function () { 
                        virtualMachinesDataTable.rows('.selected').every( function() {
                          changeItemState(this.data().name, 'stop')
                        })
                      },
                    },
                    {
                      text: 'Unfreeze',
                      action: function () { 
                        virtualMachinesDataTable.rows('.selected').every( function() {
                          changeItemState(this.data().name, 'unfreeze')
                        })
                      },
                    },
                    {
                      text: 'Freeze',
                      action: function () { 
                        virtualMachinesDataTable.rows('.selected').every( function() {
                          changeItemState(this.data().name, 'freeze')
                        })
                      },
                    },
                  ],
                },
                'spacer',
                { text: 'Edit',
                  action: function () { 
                    rows = virtualMachinesDataTable.rows({ selected: true });
                    editInstance(rows.data()[0]['name'], rows.data()[0]['name']);
                  },
                  enabled: false,
                },
                'spacer',
                { text: 'Delete',
                  action: function () { 
                    arr = []
                    virtualMachinesDataTable.rows('.selected').every( function() {
                      arr.push(this.data().name)
                    });
                    $("#deleteInstancesList").text(arr.join(", "));
                    $("#deleteInstancesHiddenInput").val(JSON.stringify(arr));
                    $("#deleteModal").modal('show');                    
                  },
                  enabled: false,
                },
                'spacer',
                'spacer',
                'pageLength',
                'spacer',
                {
                  extend: 'collection',
                  text: 'More',
                  
                  buttons: [
                    {
                      extend: 'colvis',
                      text: 'Visible columns',
                      columns: [1,2,3,4,5,6,7,8,9],
                    },
                    {
                      text: (scrollY == '490px') ? 'Disable scrolling' : 'Enable scrolling',
                      action: function ( e, dt, node, config ) {
                        if (scrollY == '490px') {
                          localStorage.setItem('instancesDataTableScrollY', false);
                          scrollY = false
                        }
                        else {
                          localStorage.setItem('instancesDataTableScrollY', '490px');
                          scrollY = '490px'
                        }
                        dt.destroy()
                        loadContainersTable()
                      },
                    },
                    {
                      text: 'Reset table state',
                      action: function ( e, dt, node, config ) {
                        dt.state.clear();
                        window.location.reload();
                      },
                    },
                  ]
                },
              ]
            }
          },
          lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],
          ],
          order: [
            [1, 'asc'], 
          ],
          rowId: 'name',
          scrollCollapse: true,
          scrollX: true,
          scrollY: scrollY,
          select: {
            style: 'multi',
            selector: 'td:first-child',
            blurable: true,
            headerCheckbox: 'select-page',
          },
          stateDuration: 0,
          stateSave: true,
        });
      }
      else {
        $('#virtualMachinesDataTable').DataTable().ajax.reload(null, false);
      }

      virtualMachinesDataTable.on('select deselect', function () {
        var selectedRows = virtualMachinesDataTable.rows({ selected: true }).count();
        virtualMachinesDataTable.button(0).enable(selectedRows > 0);
        virtualMachinesDataTable.button(2).enable(selectedRows === 1);
        virtualMachinesDataTable.button(4).enable(selectedRows > 0);
      });

    }

    // Change state start/stop of instance
    function changeItemState(name, action){
      console.log("Info: Changing instance state to " + action + " for instance " + name);
      $.post("{{ url_for('api') }}/instances/change_instance_state?id=" + serverId + "&project=" + project, { name: name, action: action }, function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Async type
        setTimeout(() => { reloadPageContent(); }, 2000);
        operationStatusCheck()
      });
    }

    // Add instance
    function addItem(){
      console.log("Info: adding new instance");
      data = $('#addForm').serialize();
      $.post("{{ url_for('api') }}/instances/add_instance?id="+serverId+"&project="+project, data, function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Aync type
        setTimeout(() => { reloadPageContent(); }, 2000);
        operationStatusCheck()
      });
    }

    // Delete instance
    function deleteInstance(name){
      console.log("Info: confirming deletion of instance " + name);
      if (confirm("Are you sure you want to delete instance " + name + "?") == true) {
        console.log("Info: deleting instance " + name);
        $.post("{{ url_for('api') }}/instances/delete_instance?id=" + serverId + "&project=" + project, { name: name }, function (data) {
          console.log(data);
          if (data.error_code >= 400){
            alert(data.error);
          }
          //Async type
          setTimeout(() => { reloadPageContent(); }, 2000);
          operationStatusCheck()
        });
      }
    }

    // Delete instances
    function deleteInstances(){
      var deleteInstancesHiddenInput = JSON.parse($("#deleteInstancesHiddenInput").val());
      console.log("Info: deleting instances " + deleteInstancesHiddenInput.join(", "));
      for (let i = 0; i < deleteInstancesHiddenInput.length; i++) {
        $.post("{{ url_for('api') }}/instances/delete_instance?id=" + serverId + "&project=" + project, { name: deleteInstancesHiddenInput[i] }, function (data) {
          console.log(data);
          if (data.error_code >= 400){
            alert(data.error);
          }
        });
      }

      //Send toast notification
      $('#defaultToastHeader').text('Deleting Instance(s)')
      $('#defaultToastBody').text(deleteInstancesHiddenInput.join(", "))
      defaultToast.show()

      //Async type
      setTimeout(() => { reloadPageContent(); }, 2000);
      operationStatusCheck()
    }

    // Create instance from JSON
    function createItemUsingJSON(){
      var json = $("#jsonCreateInput").val();
      console.log("Info: adding new instance");
      $.post("{{ url_for('api') }}/instances/add_instance?id="+serverId+"&project="+project, { json: json },  function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Async type
        setTimeout(() => { reloadPageContent(); }, 2000);
        operationStatusCheck()
      });
    }

    // Change properties options while adding network device
    function changeInstanceModalTypeOptions(){
      var instanceTypeInput = $("#instanceTypeInput").val()
      if (instanceTypeInput == "container"){
        populateContainerImages()
        //Container options
        $("#limitsCpuAllowance").attr("disabled", false);
        $("#limitsCpuPriority").attr("disabled", false);
        $("#limitsHugepages64KB").attr("disabled", false);
        $("#limitsHugepages1MB").attr("disabled", false);
        $("#limitsHugepages2MB").attr("disabled", false);
        $("#limitsHugepages1GB").attr("disabled", false);
        $("#limitsMemoryEnforce").attr("disabled", false);
        $("#limitsMemorySwapPriority").attr("disabled", false);
        $("#limitsMemorySwap").attr("disabled", false);
        $("#limitsProcesses").attr("disabled", false);
        $("#linuxKernel_modules").attr("disabled", false);
        $("#migrationIncrementalMemory").attr("disabled", false);
        $("#migrationIncrementalMemoryGoal").attr("disabled", false);
        $("#migrationIncrementalMemoryIterations").attr("disabled", false);
        $("#nvidiaDriverCapabilities").attr("disabled", false);
        $("#nvidiaRuntime").attr("disabled", false);
        $("#nvidiaRequireCuda").attr("disabled", false);
        $("#nvidiaRequireDriver").attr("disabled", false);
        $("#rawIdmap").attr("disabled", false);
        $("#rawLxc").attr("disabled", false);
        $("#rawSeccomp").attr("disabled", false);
        $("#securityDevlxd").attr("disabled", false);
        $("#securityDevlxdImages").attr("disabled", false);
        $("#securityIdmapBase").attr("disabled", false);
        $("#securityIdmapIsolated").attr("disabled", false);
        $("#securityIdmapSize").attr("disabled", false);
        $("#securityNesting").attr("disabled", false);
        $("#securityPrivileged").attr("disabled", false);
        $("#securityProtectionDelete").attr("disabled", false);
        $("#securityProtectionShift").attr("disabled", false);
        $("#securitySyscallsAllow").attr("disabled", false);
        $("#securitySyscallsDeny").attr("disabled", false);
        $("#securitySyscallsDeny_compat").attr("disabled", false);
        $("#securitySyscallsDeny_default").attr("disabled", false);
        $("#securitySyscallsInterceptBpf").attr("disabled", false);
        $("#securitySyscallsInterceptBpfDevices").attr("disabled", false);
        $("#securitySyscallsInterceptMknod").attr("disabled", false);
        $("#securitySyscallsInterceptMount").attr("disabled", false);
        $("#securitySyscallsInterceptMountAllowed").attr("disabled", false);
        $("#securitySyscallsInterceptMountFuse").attr("disabled", false);
        $("#securitySyscallsInterceptMountShift").attr("disabled", false);
        $("#securitySyscallsInterceptSetxattr").attr("disabled", false);
        //Virtual-machine options
        $("#limitsMemoryHugepages").attr("disabled", true); $("#limitsMemoryHugepages").val('');
        $("#migrationStateful").attr("disabled", true); $("#migrationStateful").val('');
        $("#rawQemu").attr("disabled", true); $("#rawQemu").val('');
        $("#rawQemuConf").attr("disabled", true); $("#rawQemuConf").val('');
        $("#securityAgentMetrics").attr("disabled", true); $("#securityAgentMetrics").val('');
        $("#securitySecureboot").attr("disabled", true); $("#securitySecureboot").val('');
      }
      if (instanceTypeInput == "virtual-machine"){
        populateVirtualMachineImages()
        //Container options
        $("#limitsCpuAllowance").attr("disabled", true); $("#limitsCpuAllowance").val('');
        $("#limitsCpuPriority").attr("disabled", true); $("#limitsCpuPriority").val('');
        $("#limitsHugepages64KB").attr("disabled", true); $("#limitsHugepages64KB").val('');
        $("#limitsHugepages1MB").attr("disabled", true); $("#limitsHugepages1MB").val('');
        $("#limitsHugepages2MB").attr("disabled", true); $("#limitsHugepages2MB").val('');
        $("#limitsHugepages1GB").attr("disabled", true); $("#limitsHugepages1GB").val('');
        $("#limitsMemoryEnforce").attr("disabled", true); $("#limitsMemoryEnforce").val('');
        $("#limitsMemorySwapPriority").attr("disabled", true); $("#limitsMemorySwapPriority").val('');
        $("#limitsMemorySwap").attr("disabled", true); $("#limitsMemorySwap").val('');
        $("#limitsProcesses").attr("disabled", true); $("#limitsProcesses").val('');
        $("#linuxKernel_modules").attr("disabled", true); $("#linuxKernel_modules").val('');
        $("#migrationIncrementalMemory").attr("disabled", true); $("#migrationIncrementalMemory").val('');
        $("#migrationIncrementalMemoryGoal").attr("disabled", true); $("#migrationIncrementalMemoryGoal").val('');
        $("#migrationIncrementalMemoryIterations").attr("disabled", true); $("#migrationIncrementalMemoryIterations").val('');
        $("#nvidiaDriverCapabilities").attr("disabled", true); $("#nvidiaDriverCapabilities").val('');
        $("#nvidiaRuntime").attr("disabled", true); $("#nvidiaRuntime").val('');
        $("#nvidiaRequireCuda").attr("disabled", true); $("#nvidiaRequireCuda").val('');
        $("#nvidiaRequireDriver").attr("disabled", true); $("#nvidiaRequireDriver").val('');
        $("#rawIdmap").attr("disabled", true); $("#rawIdmap").val('');
        $("#rawLxc").attr("disabled", true); $("#rawLxc").val('');
        $("#rawSeccomp").attr("disabled", true); $("#rawSeccomp").val('');
        $("#securityDevlxd").attr("disabled", true); $("#securityDevlxd").val('');
        $("#securityDevlxdImages").attr("disabled", true); $("#securityDevlxdImages").val('');
        $("#securityIdmapBase").attr("disabled", true); $("#securityIdmapBase").val('');
        $("#securityIdmapIsolated").attr("disabled", true); $("#securityIdmapIsolated").val('');
        $("#securityIdmapSize").attr("disabled", true); $("#securityIdmapSize").val('');
        $("#securityNesting").attr("disabled", true); $("#securityNesting").val('');
        $("#securityPrivileged").attr("disabled", true); $("#securityPrivileged").val('');
        $("#securityProtectionDelete").attr("disabled", true); $("#securityProtectionDelete").val('');
        $("#securityProtectionShift").attr("disabled", true); $("#securityProtectionShift").val('');
        $("#securitySyscallsAllow").attr("disabled", true); $("#securitySyscallsAllow").val('');
        $("#securitySyscallsDeny").attr("disabled", true); $("#securitySyscallsDeny").val('');
        $("#securitySyscallsDeny_compat").attr("disabled", true); $("#securitySyscallsDeny_compat").val('');
        $("#securitySyscallsDeny_default").attr("disabled", true); $("#securitySyscallsDeny_default").val('');
        $("#securitySyscallsInterceptBpf").attr("disabled", true); $("#securitySyscallsInterceptBpf").val('');
        $("#securitySyscallsInterceptBpfDevices").attr("disabled", true); $("#securitySyscallsInterceptBpfDevices").val('');
        $("#securitySyscallsInterceptMknod").attr("disabled", true); $("#securitySyscallsInterceptMknod").val('');
        $("#securitySyscallsInterceptMount").attr("disabled", true); $("#securitySyscallsInterceptMount").val('');
        $("#securitySyscallsInterceptMountAllowed").attr("disabled", true); $("#securitySyscallsInterceptMountAllowed").val('');
        $("#securitySyscallsInterceptMountFuse").attr("disabled", true); $("#securitySyscallsInterceptMountFuse").val('');
        $("#securitySyscallsInterceptMountShift").attr("disabled", true); $("#securitySyscallsInterceptMountShift").val('');
        $("#securitySyscallsInterceptSetxattr").attr("disabled", true); $("#securitySyscallsInterceptSetxattr").val('');
        //Virtual-machine options
        $("#limitsMemoryHugepages").attr("disabled", false);
        $("#migrationStateful").attr("disabled", false);
        $("#rawQemu").attr("disabled", false);
        $("#rawQemuConf").attr("disabled", false);
        $("#securityAgentMetrics").attr("disabled", false);
        $("#securitySecureboot").attr("disabled", false);
      }
    }

    // Show the edit instance modal
    function editInstance(name){
      console.log("Info: viewing instance " + name);
      $.get("{{ url_for('api') }}/instance/get_instance?id="+serverId+"&project="+project+"&name="+name+"&recursion=1", function (data) {
        data = data.metadata;

        if (data.error_code >= 400){
          alert(data.error);
        }

        //Clean all values in form
        $("#editModal").find('input, select, textarea').val('');

        //Set existing description value in form
        if (data.hasOwnProperty('description')) { $("#instanceDescriptionInput").val(data.description); }

        //Set existing values from config in form
        $.each(data.config, function(key, value) {
          item = "#"+key
          $(`[name="${key}"]`).val(value);
          console.log(item + "=" + value)
        })

        //Set instance name on form
        $("#instanceNameEditInput").text("Name: " + name);
        $("#instanceEditHiddenInput").val(name);

        //Set json tab content
        $("#jsonEditInput").val(JSON.stringify(data, null, 2));

        //Show modal with form and json
        $("#editModal").modal('show');

      });
    }

    // Update the instance from the edit instance modal form
    function updateInstanceForm(){
      var name = $("#instanceEditHiddenInput").val();
      console.log("Info: updating instance " + name);
      data = $('#editForm').serialize();
      $.post("{{ url_for('api') }}/instance/update_instance?id=" + serverId + "&project=" + project + "&instance=" + encodeURI(name), data,  function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        setTimeout(() => { reloadPageContent(); }, 1000);
        operationStatusCheck()
      });
    }

    // Update the instance from the edit instance modal json
    function updateInstanceJson(){
      var name = $("#instanceEditHiddenInput").val();
      var instanceJSON = $("#jsonEditInput").val();
      console.log("Info: updating instance " + name);
      $.post("{{ url_for('api') }}/instance/update_instance?id=" + serverId + "&project=" + project + "&instance=" + encodeURI(name), { 
        json: instanceJSON 
        },  function (data) {
          console.log(data);
          if (data.error_code >= 400){
            alert(data.error);
          }
          //Sync type
          setTimeout(() => { reloadPageContent(); }, 1000);
          operationStatusCheck()
      });
    }


    // Rename the instance
    function renameInstance(){
      var renameName = $("#renameName").val();
      console.log("Info: renaming instance " + instance + " to " + renameName);
      $.post("{{ url_for('api') }}/instance/rename_instance?id="+serverId+"&project="+project+"&instance="+instance, { name: renameName },  function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        else {
          window.location.href = "{{ url_for('instance') }}?id=" + serverId + '&project=' + project + '&instance=' + renameName;
        }
      });
    }
    $(document).ready(function(){

      //If id or project variables are missing redirect to servers page
      if (!serverId || !project) {
        window.location.href = "{{ url_for('servers') }}";
      }
      else {
        if (hash == '#virtual-machines'){
          $('#nav-virtual-machines-tab').tab('show')
        }
        $('button[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
          if (e.target.id == 'nav-virtual-machines-tab'){
            virtualMachinesDataTable.columns.adjust()
            window.location.hash = 'virtual-machines'
          }
          else {
            containersDataTable.columns.adjust()
            window.location.hash = 'containers'
          }
        })
        loadPageContent()
        operationStatusCheck()
      }
      
    });

  </script>
{% endblock script %}
