{% extends "main.html" %}

{% block header %}
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>{{ page_title | safe }}: <span id="acl_title"></span></h1>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary float-sm-right mr-4" data-bs-toggle="modal" data-bs-target="#addModal" title="Add Network ACL Rule" aria-hidden="true">
        <i class="fas fa-plus fa-sm fa-fw"></i> Network ACL Rule
      </button>
    </div>
  </div>
{% endblock header %}

{% block content %}
  <div class="col-12">
    <nav>
      <div class="nav nav-tabs" id="nav-page-tab" role="tablist">
        <button class="nav-link active" id="nav-ingress-tab" data-bs-toggle="tab" data-bs-target="#nav-ingress" type="button" role="tab" aria-controls="nav-ingress" aria-selected="true">Ingress</button>
        <button class="nav-link" id="nav-egress-tab" data-bs-toggle="tab" data-bs-target="#nav-egress" type="button" role="tab" aria-controls="nav-egress" aria-selected="false">Egress</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-page-content">
      <div class="tab-pane fade show active" id="nav-ingress" role="tabpanel" aria-labelledby="nav-ingress-tab">
        <div class="card">
          <div class="card-body">
            <table class="table" id="networkAclIngressDataTable" width="100%" cellspacing="0"></table>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-egress" role="tabpanel" aria-labelledby="nav-egress-tab">
        <div class="card">
          <div class="card-body">
            <table class="table" id="networkAclEgressDataTable" width="100%" cellspacing="0"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block modal %}
  {% include 'modals/network-acl.html' %}
{% endblock modal %}

{% block script %}
  <script>
    var reloadTime = 10000;
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const serverId = urlParams.get('id');
    const project = urlParams.get('project');
    const acl = urlParams.get('acl')
    var editedNetworkACL = ''
    const hash = document.location.hash;
    var networkAclIngressDataTableScrollY =  localStorage.getItem('networkAclIngressDataTableScrollY') || '490px';
    var networkAclEgressDataTableScrollY =  localStorage.getItem('networkAclEgressDataTableScrollY') || '490px';
    applySidebarStyles();
    applySidebarLinks();
    populateSidebarLinks();
    populateNavbarLinks();

    function reloadPageContent() {
      //Clear the automatic page reload
      clearTimeout(pageReloadTimeout);

      //Reload the datatables content
      loadNetworkACLIngressTable()
      loadNetworkACLEgressTable()

      //Set the automatic page reload
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);
    }

    function loadPageContent(){

      //Display the current project
      $("#selectedProject").text(project);

      //Loaded from main.html template
      populateServerSelectDropdown()
      populateProjectSelectDropdown()
      
      //Get data using jquery call datatable within function, set data: data.ingress for one table and data.exgress for the other
      loadNetworkACLIngressTable()
      loadNetworkACLEgressTable()
      
      //Set reload page content
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);

    }

    function loadNetworkACLIngressTable() {
      if ( ! $.fn.DataTable.isDataTable( '#networkAclIngressDataTable' ) ) {
        networkAclIngressDataTable = $('#networkAclIngressDataTable').DataTable({
          ajax: {
            url: "{{ url_for('api') }}/network-acl/list_network_acls?id="+serverId+"&project=" + project + "&acl=" + acl,
            dataType: "json",
            dataSrc: "metadata.ingress",
            contentType: "application/json",
            error: function (xhr, error, code) {
              console.log(xhr, code);
            }
          },
          columns: [
            {
              data: null,
              orderable: false,
              render: DataTable.render.select()
            },
            { title: "Rule", data: function (row, type, set) {
                return row.index
              }
            },
            { title: "Action", data: function (row, type, set) {
                if (row.hasOwnProperty('action')) {
                  if (row.action)
                    return row.action
                }
                return '-'
              },
            },
            { title: "State", data: function (row, type, set) {
                if (row.hasOwnProperty('state')) {
                  if (row.state)
                    return row.state
                }
                return '-'
              },
            },
            { title: "Description", data: function (row, type, set) {
                if (row.hasOwnProperty('description')) {
                  if (row.description)
                    return row.description
                }
                return '-'
              },
            },
            { title: "Source", data: function (row, type, set) {
                if (row.hasOwnProperty('source')) {
                  if (row.source)
                    return row.source
                }
                return '-'
              },
            },
            { title: "Destination", data: function (row, type, set) {
                if (row.hasOwnProperty('destination')) {
                  if (row.destination)
                    return row.destination
                }
                return '-'
              },
            },
            { title: "Protocol", data: function (row, type, set) {
                if (row.hasOwnProperty('protocol')) {
                  if (row.protocol)
                    return row.protocol
                }
                return '-'
              },
            },
            { title: "Source Port", data: function (row, type, set) {
                if (row.hasOwnProperty('source_port')) {
                  if (row.source_port)
                    return row.source_port
                }
                return '-'
              },
            },
            { title: "Destination Port", data: function (row, type, set) {
                if (row.hasOwnProperty('destination_port')) {
                  if (row.destination_port)
                    return row.destination_port
                }
                return '-'
              },
            },
            { title: "ICMP Type", data: function (row, type, set) {
                if (row.hasOwnProperty('icmp_type')) {
                  if (row.icmp_type)
                    return row.icmp_type
                }
                return '-'
              },
            },
            { title: "ICMP Code", data: function (row, type, set) {
                if (row.hasOwnProperty('icmp_code')) {
                  if (row.icmp_code)
                    return row.icmp_code
                }
                return '-'
              },
            },
          ],
          layout: {
            topStart: {
              buttons: [
                { text: 'Delete',
                  action: function () { 
                    arr = []
                    networkAclIngressDataTable.rows('.selected').every( function() {
                      arr.push(this.data().index)
                    });
                    $("#deleteNetworkACLList").text(arr.join(", "));
                    $("#deleteNetworkACLHiddenInput").val(JSON.stringify(arr));
                    $("#deleteNetworkACLTypeHiddenInput").val('ingress');
                    $("#deleteModal").modal('show');                    
                  },
                  enabled: false,
                },
                'spacer',
                'spacer',
                'pageLength',
                'spacer',
                {
                  extend: 'collection',
                  text: 'More',
                  buttons: [
                    {
                      extend: 'colvis',
                      text: 'Visible columns',
                      columns: [1,2,3,4,5,6,7,8,9,10,11],
                    },
                    {
                      text: (networkAclIngressDataTableScrollY == '490px') ? 'Disable scrolling' : 'Enable scrolling',
                      action: function ( e, dt, node, config ) {
                        if (networkAclIngressDataTableScrollY == '490px') {
                          localStorage.setItem('networkAclIngressDataTableScrollY', false);
                          networkAclIngressDataTableScrollY = false
                        }
                        else {
                          localStorage.setItem('networkAclIngressDataTableScrollY', '490px');
                          networkAclIngressDataTableScrollY = '490px'
                        }
                        dt.destroy()
                        loadNetworkACLIngressTable()
                      },
                    },
                    {
                      text: 'Reset table state',
                      action: function ( e, dt, node, config ) {
                        dt.state.clear();
                        window.location.reload();
                      },
                    },
                  ]
                }

              ]
            }
          },
          lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],
          ],
          order: [
            [1, 'asc']
          ],
          rowId: 'index',
          scrollCollapse: true,
          scrollX: true,
          scrollY: networkAclIngressDataTableScrollY,
          select: {
            style: 'multi',
            selector: 'td:first-child',
            blurable: true,
            headerCheckbox: 'select-page',
          },
          stateDuration: 0,
          stateSave: true,
        });
      }
      else {
        $('#networkAclIngressDataTable').DataTable().ajax.reload(null, false);
      }

      networkAclIngressDataTable.on('select deselect', function () {
        var selectedRows = networkAclIngressDataTable.rows({ selected: true }).count();
        networkAclIngressDataTable.button(0).enable(selectedRows == 1);
      });
    }

    function loadNetworkACLEgressTable() {
      if ( ! $.fn.DataTable.isDataTable( '#networkAclEgressDataTable' ) ) {
        networkAclEgressDataTable = $('#networkAclEgressDataTable').DataTable({
          ajax: {
            url: "{{ url_for('api') }}/network-acl/list_network_acls?id="+serverId+"&project=" + project + "&acl=" + acl,
            dataType: "json",
            dataSrc: "metadata.egress",
            contentType: "application/json",
            error: function (xhr, error, code) {
              console.log(xhr, code);
            }
          },
          columns: [
            {
              data: null,
              orderable: false,
              render: DataTable.render.select()
            },
            { title: "Rule", data: function (row, type, set) {
                return row.index
              },
            },
            { title: "Action", data: function (row, type, set) {
                if (row.hasOwnProperty('action')) {
                  if (row.action)
                    return row.action
                }
                return '-'
              },
            },
            { title: "State", data: function (row, type, set) {
                if (row.hasOwnProperty('state')) {
                  if (row.state)
                    return row.state
                }
                return '-'
              },
            },
            { title: "Description", data: function (row, type, set) {
                if (row.hasOwnProperty('description')) {
                  if (row.description)
                    return row.description
                }
                return '-'
              },
            },
            { title: "Source", data: function (row, type, set) {
                if (row.hasOwnProperty('source')) {
                  if (row.source)
                    return row.source
                }
                return '-'
              },
            },
            { title: "Destination", data: function (row, type, set) {
                if (row.hasOwnProperty('destination')) {
                  if (row.destination)
                    return row.destination
                }
                return '-'
              },
            },
            { title: "Protocol", data: function (row, type, set) {
                if (row.hasOwnProperty('protocol')) {
                  if (row.protocol)
                    return row.protocol
                }
                return '-'
              },
            },
            { title: "Source Port", data: function (row, type, set) {
                if (row.hasOwnProperty('source_port')) {
                  if (row.source_port)
                    return row.source_port
                }
                return '-'
              },
            },
            { title: "Destination Port", data: function (row, type, set) {
                if (row.hasOwnProperty('destination_port')) {
                  if (row.destination_port)
                    return row.destination_port
                }
                return '-'
              },
            },
            { title: "ICMP Type", data: function (row, type, set) {
                if (row.hasOwnProperty('icmp_type')) {
                  if (row.icmp_type)
                    return row.icmp_type
                }
                return '-'
              },
            },
            { title: "ICMP Code", data: function (row, type, set) {
                if (row.hasOwnProperty('icmp_code')) {
                  if (row.icmp_code)
                    return row.icmp_code
                }
                return '-'
              },
            },
          ],
          layout: {
            topStart: {
              buttons: [
                { text: 'Delete',
                  action: function () { 
                    arr = []
                    networkAclEgressDataTable.rows('.selected').every( function() {
                      arr.push(this.data().index)
                    });
                    $("#deleteNetworkACLList").text(arr.join(", "));
                    $("#deleteNetworkACLHiddenInput").val(JSON.stringify(arr));
                    $("#deleteNetworkACLTypeHiddenInput").val('egress');
                    $("#deleteModal").modal('show');                    
                  },
                  enabled: false,
                },
                'spacer',
                'spacer',
                'pageLength',
                'spacer',
                {
                  extend: 'collection',
                  text: 'More',
                  buttons: [
                    {
                      extend: 'colvis',
                      text: 'Visible columns',
                      columns: [1,2,3,4,5,6,7,8,9,10,11],
                    },
                    {
                      text: (networkAclEgressDataTableScrollY == '490px') ? 'Disable scrolling' : 'Enable scrolling',
                      action: function ( e, dt, node, config ) {
                        if (networkAclEgressDataTableScrollY == '490px') {
                          localStorage.setItem('networkAclEgressDataTableScrollY', false);
                          networkAclEgressDataTableScrollY = false
                        }
                        else {
                          localStorage.setItem('networkAclEgressDataTableScrollY', '490px');
                          networkAclEgressDataTableScrollY = '490px'
                        }
                        dt.destroy()
                        loadNetworkACLEgressTable()
                      },
                    },
                    {
                      text: 'Reset table state',
                      action: function ( e, dt, node, config ) {
                        dt.state.clear();
                        window.location.reload();
                      },
                    },
                  ]
                }

              ]
            }
          },
          lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],
          ],
          order: [
            [1, 'asc']
          ],
          rowId: 'index',
          scrollCollapse: true,
          scrollX: true,
          scrollY: networkAclEgressDataTableScrollY,
          select: {
            style: 'multi',
            selector: 'td:first-child',
            blurable: true,
            headerCheckbox: 'select-page',
          },
          stateDuration: 0,
          stateSave: true,
        });
      }
      else {
        $('#networkAclEgressDataTable').DataTable().ajax.reload(null, false);
      }

      networkAclEgressDataTable.on('select deselect', function () {
        var selectedRows = networkAclEgressDataTable.rows({ selected: true }).count();
        networkAclEgressDataTable.button(0).enable(selectedRows == 1);
      });
    }

    function addItem(){
      console.log("Info: adding new network-acl");
      data = $('#addForm').serialize();
      $.post("{{ url_for('api') }}/network-acl/add_network_acl?id="+serverId+"&project="+project+"&acl="+acl, data, function (data) {
        console.log(data)
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        setTimeout(() => { reloadPageContent(); }, 1000);
        operationStatusCheck()
      });
    }

    function createItemUsingJSON(){
      var json = $("#jsonCreateInput").val();
      console.log("Info: adding new project");
      $.post("{{ url_for('api') }}/network-acl/add_network_acl?id="+serverId+"&project="+project, { json: json },  function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        setTimeout(() => { reloadPageContent(); }, 1000);
        operationStatusCheck()
      });
    }

    function deleteItems(){
      var deleteNetworkACLHiddenInput = JSON.parse($("#deleteNetworkACLHiddenInput").val());
      var deleteNetworkACLTypeHiddenInput = $("#deleteNetworkACLTypeHiddenInput").val();
      console.log("Info: deleting network ACL rule " + deleteNetworkACLHiddenInput.join(", "));
      for (let i = 0; i < deleteNetworkACLHiddenInput.length; i++) {
        $.post("{{ url_for('api') }}/network-acl/delete_network_acl?id=" + serverId + "&project=" + project + "&acl=" + acl, { index: deleteNetworkACLHiddenInput[i], type: deleteNetworkACLTypeHiddenInput }, function (data) {
          console.log(data);
          if (data.error_code >= 400){
            alert(data.error);
          }
        });
      }

      //Send toast notification
      $('#defaultToastHeader').text('Deleting Network ACL Rule')
      $('#defaultToastBody').text($("#deleteNetworkACLList").text())
      defaultToast.show()

      //Sync type
      setTimeout(() => { reloadPageContent(); }, 1000);
      operationStatusCheck()
    }

    $(document).ready(function(){

      //If id or project variables are missing redirect to servers page
      if (!serverId || !project) {
        window.location.href = "{{ url_for('servers') }}";
      }
      else if (!acl) {
        window.location.href = "{{ url_for('network_acls') }}?id=" + serverId + '&project=' + project
      }
      else {
        $("#acl_title").text(acl);
        loadPageContent()

        if (hash == '#egress'){
          $('#nav-egress-tab').tab('show')
        }
        $('button[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
          if (e.target.id == 'nav-egress-tab'){
            networkAclEgressDataTable.columns.adjust()
            window.location.hash = 'egress'
          }
          else {
            networkAclIngressDataTable.columns.adjust()
            window.location.hash = 'ingress'
          }
        })
        
        operationStatusCheck()
      }
 
    });

  </script>
{% endblock script %}
