{% extends "main.html" %}

{% block header %}
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>{{ page_title | safe }}</h1>
    </div>
    <div class="col-sm-6">
    </div>
  </div>
{% endblock header %}

{% block content %}
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <table class="table" id="operationsDataTable" width="100%" cellspacing="0">
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block modal %}
  {% include 'modals/operations.html' %}
{% endblock modal %}

{% block script %}
  <script>
    var reloadTime = 2000;
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const serverId = urlParams.get('id');
    const project = urlParams.get('project');
    var scrollY =  localStorage.getItem('operationsDataTableScrollY') || '490px';
    applySidebarStyles();
    applySidebarLinks();
    populateSidebarLinks();
    populateNavbarLinks();

    function reloadPageContent() {
      //Clear the automatic page reload
      clearTimeout(pageReloadTimeout);

      //Reload the datatables content
      loadOperationsTable()

      //Set the automatic page reload
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);
    }

    function loadPageContent(){

      //Display the current project
      $("#selectedProject").text(project);

      //Loaded from main.html template
      populateServerSelectDropdown()
      populateProjectSelectDropdown()

      // Configure Datatable
      loadOperationsTable()

      //Set reload page content
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);

    }

    function loadOperationsTable() {
      if ( ! $.fn.DataTable.isDataTable( '#operationsDataTable' ) ) {
        operationsDataTable = $('#operationsDataTable').DataTable({
          ajax: {
            url: "{{ url_for('api') }}/operations/list_operations?id="+serverId+"&project=" + project + "&recursion=1",
            dataType: "json",
            dataSrc: "metadata.running",
            contentType: "application/json",
            error: function (xhr, error, code) {
              console.log(xhr, code);
            }
          },
          columns: [
            {
              data: null,
              orderable: false,
              render: DataTable.render.select()
            },
            { title: "ID", data: function (row, type, set) {
                if (row.hasOwnProperty('id')) {
                  if (row.id)
                  return '<a href="#" onclick=viewItem(\''+row.id+'\')>'+row.id+'</a>'
                }
                return '-'
              },
            },
            { title: "Class", data: function (row, type, set) {
                if (row.hasOwnProperty('class')) {
                  if (row.class)
                    return row.class
                }
                return '-'
              },
            },
            { title: "Description", data: function (row, type, set) {
                if (row.hasOwnProperty('description')) {
                  if (row.description)
                    return row.description
                }
                return '-'
              },
            },
            { title: "Status", data: function (row, type, set) {
                if (row.hasOwnProperty('status')) {
                  if (row.status)
                    return row.status
                }
                return '-'
              },
            },
            { title: "Created", data: function (row, type, set) {
                if (row.hasOwnProperty('created_at')) {
                  if (row.created_at)
                    return row.created_at
                }
                return '-'
              },
            },
            { title: "Cancelable", data: function (row, type, set) {
                if (row.hasOwnProperty('may_cancel')) {
                  // Boolean field
                  return row.may_cancel
                }
                return '-'
              },
            },
            { title: "Metadata", data: function (row, type, set) {
                if (row.hasOwnProperty('metadata')) {
                  if (row.metadata){
                    return JSON.stringify(row.metadata)
                  }                  
                }
                return '-'
              },
            },
          ],
          layout: {
            topStart: {
              buttons: [
                { text: 'Delete',
                  action: function () { 
                    arr = []
                    operationsDataTable.rows('.selected').every( function() {
                      arr.push(this.data().id)
                    });
                    $("#deleteOperationsList").text(arr.join(", "));
                    $("#deleteOperationsHiddenInput").val(JSON.stringify(arr));
                    $("#deleteModal").modal('show');                    
                  },
                  enabled: false,
                },
                'spacer',
                'spacer',
                'pageLength',
                'spacer',
                {
                  extend: 'collection',
                  text: 'More',
                  buttons: [
                    {
                      extend: 'colvis',
                      text: 'Visible columns',
                      columns: [1,2,3,4,5,6,7],
                    },
                    {
                      text: (scrollY == '490px') ? 'Disable scrolling' : 'Enable scrolling',
                      action: function ( e, dt, node, config ) {
                        if (scrollY == '490px') {
                          localStorage.setItem('operationsDataTableScrollY', false);
                          scrollY = false
                        }
                        else {
                          localStorage.setItem('operationsDataTableScrollY', '490px');
                          scrollY = '490px'
                        }
                        dt.destroy()
                        loadOperationsTable()
                      },
                    },
                    {
                      text: 'Reset table state',
                      action: function ( e, dt, node, config ) {
                        dt.state.clear();
                        window.location.reload();
                      },
                    },
                  ]
                }

              ]
            }
          },
          lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],
          ],
          order: [
            [1, 'asc']
          ],
          rowId: 'id',
          scrollCollapse: true,
          scrollX: true,
          scrollY: scrollY,
          select: {
            selectable: function (rowData) {
              if (rowData.hasOwnProperty('may_cancel')) {
                return rowData.may_cancel 
              }
              return false; 
            },
            style: 'multi',
            selector: 'td:first-child',
            blurable: true,
            headerCheckbox: 'select-page',
          },
          stateDuration: 0,
          stateSave: true,
        });
      }
      else {
        $('#operationsDataTable').DataTable().ajax.reload(null, false);
      }

      operationsDataTable.on('select deselect', function () {
        var selectedRows = operationsDataTable.rows({ selected: true }).count();
        operationsDataTable.button(0).enable(selectedRows > 0);
      });
    }

    function deleteItem(name){
      console.log("Info: deleting operation " + name);
      $.post("{{ url_for('api') }}/operations/delete_operation?id=" + serverId + "&project=" + project, { id: name }, function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        setTimeout(() => { reloadPageContent(); }, 1000);
        operationStatusCheck()
      });
    }

    function deleteItems(){
      var deleteOperationsHiddenInput = JSON.parse($("#deleteOperationsHiddenInput").val());
      console.log("Info: deleting operations " + deleteOperationsHiddenInput.join(", "));
      for (let i = 0; i < deleteOperationsHiddenInput.length; i++) {
        $.post("{{ url_for('api') }}/operations/delete_operation?id=" + serverId + "&project=" + project, { id: deleteOperationsHiddenInput[i] }, function (data) {
          console.log(data);
          if (data.error_code >= 400){
            alert(data.error);
          }
        });
      }

      //Send toast notification
      deleteOperationsHiddenInput.forEach(element => {
        createToast(element, 'deleting operation')
      });

      //Sync type
      setTimeout(() => { reloadPageContent(); }, 1000);
      operationStatusCheck()
    }

    function viewItem(name){
      console.log("Info: loading operation " + name);
      $.post("{{ url_for('api') }}/operations/load_operation?id=" + serverId + "&project=" + project, { id: name }, function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        $("#operationNameViewInput").text("Name: " + name);
        $("#jsonInput").val(JSON.stringify(data.metadata, null, 2));
        $("#viewModal").modal('show');
      });
    }

    $(document).ready(function(){

      //If id or project variables are missing redirect to servers page
      if (!serverId || !project) {
        window.location.href = "{{ url_for('servers') }}";
      }
      else {
        loadPageContent()
      }

    });

  </script>
{% endblock script %}
