{% extends "main.html" %}

{% block header %}
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>{{ page_title | safe }}</h1>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary float-sm-right mr-4" data-bs-toggle="modal" data-bs-target="#addModal" title="Add Project" aria-hidden="true">
        <i class="fas fa-plus fa-sm fa-fw"></i> Project
      </button>
    </div>
  </div>
{% endblock header %}

{% block content %}
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <table class="table" id="projectsDataTable" width="100%" cellspacing="0">
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block modal %}
  {% include 'modals/projects.html' %}
{% endblock modal %}

{% block script %}
  <script>
    var reloadTime = 10000;
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const serverId = urlParams.get('id');
    const project = urlParams.get('project');
    var editedProject = ''
    var scrollY =  localStorage.getItem('projectsDataTableScrollY') || '490px';
    applySidebarStyles();
    applySidebarLinks();
    populateSidebarLinks();
    populateNavbarLinks();

    function reloadPageContent() {
      //Clear the automatic page reload
      clearTimeout(pageReloadTimeout);

      //Reload the datatables content
      loadProjectsTable()

      //Set the automatic page reload
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);
    }

    function loadPageContent(){

      //Display the current project
      $("#selectedProject").text(project);

      //Loaded from main.html template
      populateServerSelectDropdown()
      populateProjectSelectDropdown()

      // Configure Datatable
      loadProjectsTable()

      //Set reload page content
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);

    }

    function loadProjectsTable() {
      if ( ! $.fn.DataTable.isDataTable( '#projectsDataTable' ) ) {
        projectsDataTable = $('#projectsDataTable').DataTable({
          ajax: {
            url: "{{ url_for('api') }}/projects/list_projects?id="+serverId+"&project="+project+"&recursion=1",
            dataType: "json",
            dataSrc: "metadata",
            contentType: "application/json",
            error: function (xhr, error, code) {
              console.log(xhr, code);
            }
          },
          columns: [
            {
              data: null,
              orderable: false,
              render: DataTable.render.select()
            },
            { title: "Name", data: function (row, type, set) {
                if (row.hasOwnProperty('name')) {
                  if (row.name)
                    return row.name
                }
                return '-'
              },
            },
            { title: "Description", data: function (row, type, set) {
                if (row.hasOwnProperty('description')) {
                  if (row.description)
                    return row.description
                }
                return '-'
              },
            },
            { title: "Featured Items", data: function (row, type, set) {
                arr = []
                for (item in row.config) {
                  if (item.startsWith('features.')) {
                    if (row.config[item] == 'true')
                      arr.push(item.replace('features.',''))
                  }
                }
                if (arr.length > 0)
                  return arr.join(", ")
                return '-'
              },
            },
          ],
          layout: {
            topStart: {
              buttons: [
                { text: 'Edit',
                  action: function () { 
                    rows = projectsDataTable.rows({ selected: true });
                    editItem(rows.data()[0]['name']);
                  },
                  enabled: false,
                },
                'spacer',
                { text: 'Delete',
                  action: function () { 
                    arr = []
                    projectsDataTable.rows('.selected').every( function() {
                      arr.push(this.data().name)
                    });
                    $("#deleteProjectsList").text(arr.join(", "));
                    $("#deleteProjectsHiddenInput").val(JSON.stringify(arr));
                    $("#deleteModal").modal('show');                    
                  },
                  enabled: false,
                },
                'spacer',
                'spacer',
                'pageLength',
                'spacer',
                {
                  extend: 'collection',
                  text: 'More',
                  buttons: [
                    {
                      extend: 'colvis',
                      text: 'Visible columns',
                      columns: [1,2,3],
                    },
                    {
                      text: (scrollY == '490px') ? 'Disable scrolling' : 'Enable scrolling',
                      action: function ( e, dt, node, config ) {
                        if (scrollY == '490px') {
                          localStorage.setItem('projectsDataTableScrollY', false);
                          scrollY = false
                        }
                        else {
                          localStorage.setItem('projectsDataTableScrollY', '490px');
                          scrollY = '490px'
                        }
                        dt.destroy()
                        loadProjectsTable()
                      },
                    },
                    {
                      text: 'Reset table state',
                      action: function ( e, dt, node, config ) {
                        dt.state.clear();
                        window.location.reload();
                      },
                    },
                  ]
                }

              ]
            }
          },
          lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],
          ],
          order: [
            [1, 'asc']
          ],
          rowId: 'name',
          scrollCollapse: true,
          scrollX: true,
          scrollY: scrollY,
          select: {
            style: 'multi',
            selector: 'td:first-child',
            blurable: true,
            headerCheckbox: 'select-page',
          },
          stateDuration: 0,
          stateSave: true,
        });
      }
      else {
        $('#projectsDataTable').DataTable().ajax.reload(null, false);
      }

      projectsDataTable.on('select deselect', function () {
        var selectedRows = projectsDataTable.rows({ selected: true }).count();
        projectsDataTable.button(0).enable(selectedRows === 1);
        projectsDataTable.button(2).enable(selectedRows > 0);
      });
    }

    function changeRestrictedOptionsDisplay(){
      var projectRestrictedInput = $("#addModalRestrictedInput").val();

      if (projectRestrictedInput == "true"){
        $("#projectRestrictedBackupsRow").show();
        $("#projectRestrictedClusterTargetRow").show();
        $("#projectRestrictedContainersLowlevelRow").show();
        $("#projectRestrictedContainersNestingRow").show();
        $("#projectRestrictedContainersPrivilegeRow").show();
        $("#projectRestrictedDevicesDiskRow").show();
        $("#projectRestrictedDevicesGpuRow").show();
        $("#projectRestrictedDevicesInfinibandRow").show();
        $("#projectRestrictedDevicesNicRow").show();
        $("#projectRestrictedDevicesPciRow").show();
        $("#projectRestrictedDevicesProxyRow").show();
        $("#projectRestrictedDevicesUnixBlockRow").show();
        $("#projectRestrictedDevicesUnixCharRow").show();
        $("#projectRestrictedDevicesUnixHotplugRow").show();
        $("#projectRestrictedDevicesUsbRow").show();
        $("#projectRestrictedNetworksSubnetsRow").show();
        $("#projectRestrictedNetworksUplinksRow").show();
        $("#projectRestrictedSnapshotsRow").show();
        $("#projectRestrictedVirtualMachinesLowlevelRow").show();
      }
      else {
        $("#projectRestrictedBackupsRow").hide();
        $("#projectRestrictedClusterTargetRow").hide();
        $("#projectRestrictedContainersLowlevelRow").hide();
        $("#projectRestrictedContainersNestingRow").hide();
        $("#projectRestrictedContainersPrivilegeRow").hide();
        $("#projectRestrictedDevicesDiskRow").hide();
        $("#projectRestrictedDevicesGpuRow").hide();
        $("#projectRestrictedDevicesInfinibandRow").hide();
        $("#projectRestrictedDevicesNicRow").hide();
        $("#projectRestrictedDevicesPciRow").hide();
        $("#projectRestrictedDevicesProxyRow").hide();
        $("#projectRestrictedDevicesUnixBlockRow").hide();
        $("#projectRestrictedDevicesUnixCharRow").hide();
        $("#projectRestrictedDevicesUnixHotplugRow").hide();
        $("#projectRestrictedDevicesUsbRow").hide();
        $("#projectRestrictedNetworksSubnetsRow").hide();
        $("#projectRestrictedNetworksUplinksRow").hide();
        $("#projectRestrictedSnapshotsRow").hide();
        $("#projectRestrictedVirtualMachinesLowlevelRow").hide();
      }
    }

    function addItem(){
      console.log("Info: adding new project");
      data = $('#addForm').serialize();
      $.post("{{ url_for('api') }}/projects/add_project?id="+serverId+"&project="+project, data, function (data) {
        console.log(data)
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        setTimeout(() => { reloadPageContent(); }, 1000);
        operationStatusCheck()
      });
    }

    function createProjectUsingJSON(){
      var projectCreateJSON = $("#jsonCreateInput").val();
      console.log("Info: adding new project");
      $.post("{{ url_for('api') }}/projects/add_project?id="+serverId+"&project="+project, { json: projectCreateJSON },  function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        setTimeout(() => { reloadPageContent(); }, 1000);
        operationStatusCheck()
      });
    }

    function deleteItems(){
      var deleteProjectsHiddenInput = JSON.parse($("#deleteProjectsHiddenInput").val());
      console.log("Info: deleting projects " + deleteProjectsHiddenInput.join(", "));
      for (let i = 0; i < deleteProjectsHiddenInput.length; i++) {
        $.post("{{ url_for('api') }}/projects/delete_project?id=" + serverId + "&project=" + project, { name: deleteProjectsHiddenInput[i] }, function (data) {
          console.log(data);
          if (data.error_code >= 400){
            alert(data.error);
          }
        });
      }

      //Send toast notification
      $('#defaultToastHeader').text('Deleting Project(s)')
      $('#defaultToastBody').text($("#deleteProjectsList").text())
      defaultToast.show()

      //Sync type
      setTimeout(() => { reloadPageContent(); }, 1000);
      operationStatusCheck()
    }

    function editItem(name){
      editedProject = name
      $("#projectToRename").val(name);
      console.log("Info: loading project " + name);
      $.get("{{ url_for('api') }}/projects/load_project?id=" + serverId + "&project=" + project + "&name=" + encodeURI(name), function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        $("#projectNameEditInput").text("Name: " + name);
        $("#jsonInput").val(JSON.stringify(data.metadata, null, 2));
        $("#editModal").modal('show');
      });
    }

    function updateProject(){
      name = editedProject
      var updatedJSON = $("#jsonInput").val();
      console.log("Info: updating project");
      $.post("{{ url_for('api') }}/projects/update_project?id=" + serverId + "&project=" + project + "&name=" + encodeURI(name), { json: updatedJSON },  function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        setTimeout(() => { reloadPageContent(); }, 1000);
        operationStatusCheck()
      });
    }

    function updateProjectName(){
      var projectNewName = $("#newProjectName").val();
      var projectToRename = $("#projectToRename").val();
      console.log("Info: renaming project " + projectToRename);
      $.post("{{ url_for('api') }}/projects/update_project?id=" + serverId + "&project=" + project + "&name=" + encodeURI(projectToRename), { 'name': projectNewName },  function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        setTimeout(() => { reloadPageContent(); }, 1000);
        operationStatusCheck()
      });
    } 

    $(document).ready(function(){

      //If id or project variables are missing redirect to servers page
      if (!serverId || !project) {
        window.location.href = "{{ url_for('servers') }}";
      }
      else {
        loadPageContent()
        operationStatusCheck()
      }
      
    });

  </script>
{% endblock script %}
