{% extends "main.html" %}

{% block header %}
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>{{ page_title | safe }}</h1>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary float-sm-right mr-4" data-bs-toggle="modal" data-bs-target="#addModal" title="Add Registry" aria-hidden="true">
        <i class="fas fa-plus fa-sm fa-fw"></i> Registries
      </button>
    </div>
  </div>
{% endblock header %}

{% block content %}
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <table class="table" id="registriesDataTable" width="100%" cellspacing="0">
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block modal %}
  {% include 'modals/registries.html' %}
{% endblock modal %}

{% block script %}
  <script>
    var reloadTime = 10000;
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const serverId = urlParams.get('id');
    const project = urlParams.get('project');
    var scrollY =  localStorage.getItem('registriesDataTableScrollY') || '490px';
    applySidebarStyles();
    applySidebarLinks();
    populateSidebarLinks();
    populateNavbarLinks();

    function reloadPageContent() {
      //Clear the automatic page reload
      clearTimeout(pageReloadTimeout);

      //Reload the datatables content
      loadRegistriesTable()

      //Set the automatic page reload
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);
    }

    function loadPageContent(){

      //Display the current project
      $("#selectedProject").text(project);

      //Loaded from main.html template
      populateServerSelectDropdown()
      populateProjectSelectDropdown()

      // Configure Datatable
      loadRegistriesTable()

      //Set reload page content
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);

    }

    function loadRegistriesTable() {
      if ( ! $.fn.DataTable.isDataTable( '#registriesDataTable' ) ) {
        registriesDataTable = $('#registriesDataTable').DataTable({
          ajax: {
            url: "{{ url_for('api') }}/registries/list_registries",
            dataType: "json",
            dataSrc: "data",
            contentType: "application/json",
            error: function (xhr, error, code) {
              console.log(xhr, code);
            }
          },
          columns: [
            {
              data: null,
              orderable: false,
              render: DataTable.render.select()
            },
            { title: "URL", data: function (row, type, set) {
                if (row.hasOwnProperty('url')) {
                  if (row.url)
                    return row.url
                }
                return '-'
              },
            },
            { title: "Protocol", data: function (row, type, set) {
                if (row.hasOwnProperty('protocol')) {
                  if (row.protocol)
                    return row.protocol
                }
                return '-'
              },
            },
            { title: "Alias", data: function (row, type, set) {
                if (row.hasOwnProperty('alias')) {
                  if (row.alias)
                    return row.alias
                }
                return '-'
              },
            },
          ],
          layout: {
            topStart: {
              buttons: [
                { text: 'Edit',
                  action: function () { 
                    rows = registriesDataTable.rows({ selected: true });
                    editRegistry(rows.data()[0]['id']);
                  },
                  enabled: false,
                },
                'spacer',
                { text: 'Delete',
                  action: function () { 
                    arr = []
                    arr2 = []
                    registriesDataTable.rows('.selected').every( function() {
                      arr.push(this.data().id)
                      arr2.push(this.data().url)
                    });
                    $("#deleteRegistriesList").text(arr2.join(", "));
                    $("#deleteRegistriesHiddenInput").val(JSON.stringify(arr));
                    $("#deleteModal").modal('show');                    
                  },
                  enabled: false,
                },
                'spacer',
                'spacer',
                'pageLength',
                'spacer',
                {
                  extend: 'collection',
                  text: 'More',
                  dropup: true,
                  buttons: [
                    {
                      extend: 'colvis',
                      text: 'Visible columns',
                      columns: [1,2,3],
                    },
                    {
                      text: (scrollY == '490px') ? 'Disable scrolling' : 'Enable scrolling',
                      action: function ( e, dt, node, config ) {
                        if (scrollY == '490px') {
                          localStorage.setItem('registriesDataTableScrollY', false);
                          scrollY = false
                        }
                        else {
                          localStorage.setItem('registriesDataTableScrollY', '490px');
                          scrollY = '490px'
                        }
                        dt.destroy()
                        loadRegistriesTable()
                      },
                    },
                    {
                      text: 'Reset table state',
                      action: function ( e, dt, node, config ) {
                        dt.state.clear();
                        window.location.reload();
                      },
                    },
                  ]
                }

              ]
            }
          },
          lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],
          ],
          order: [
            [1, 'asc'], [2, 'asc']
          ],
          rowId: 'id',
          scrollCollapse: true,
          scrollX: true,
          scrollY: scrollY,
          select: {
            style: 'multi',
            selector: 'td:first-child',
            blurable: true,
            headerCheckbox: 'select-page',
          },
          stateDuration: 0,
          stateSave: true,
        });
      }
      else {
        $('#registriesDataTable').DataTable().ajax.reload(null, false);
      }

      registriesDataTable.on('select deselect', function () {
        var selectedRows = registriesDataTable.rows({ selected: true }).count();
        registriesDataTable.button(0).enable(selectedRows === 1);
        registriesDataTable.button(2).enable(selectedRows > 0);
      });
    }

    function addItem(){
      console.log("Info: adding new registry");
      data = $('#addForm').serialize();
      $.post("{{ url_for('api') }}/registries/add_registry", data, function (data) {
        console.log(data)
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        setTimeout(() => { reloadPageContent(); }, 1000);
      });
    }

    function editRegistry(id) {
      console.log("Info: loading edit registry " + id);
      $.get("{{ url_for('api') }}/registries/get_registry", { 
        id: id,
      }, function (data) {
        console.log(data);
        console.log(data.data[0].alias);
        $("#editModalIdInput").val(data.data[0].id);
        $("#editModalUrl").val(data.data[0].url);
        $("#editModalProtocol").val(data.data[0].protocol);
        $("#editModalAlias").val(data.data[0].alias);
        $("#editModal").modal('show');
      });
    }

    function deleteRegistries(){
      var deleteRegistriesHiddenInput = JSON.parse($("#deleteRegistriesHiddenInput").val());
      console.log("Info: deleting registries " + deleteRegistriesHiddenInput.join(", "));
      for (let i = 0; i < deleteRegistriesHiddenInput.length; i++) {
        $.post("{{ url_for('api') }}/registries/delete_registry", { id: deleteRegistriesHiddenInput[i] }, function (data) {
          console.log(data);
          if (data.error_code >= 400){
            alert(data.error);
          }
        });
      }

      //Send toast notification
      $('#defaultToastHeader').text('Deleting Registries(s)')
      $('#defaultToastBody').text($("#deleteRegistriesList").text())
      defaultToast.show()

      //Sync type
      setTimeout(() => { reloadPageContent(); }, 1000);
      operationStatusCheck()
    }

    function updateRegistry(){
      console.log("Info: updating registry " + $("#editModalIdInput").val());
      $.post("{{ url_for('api') }}/registries/update_registry", {
        id: $("#editModalIdInput").val(),
        url: $("#editModalUrl").val(), 
        protocol: $("#editModalProtocol").val(),
        alias: $("#editModalAlias").val(),
      }, function (data) {
        console.log(data)
        setTimeout(() => { reloadPageContent(); }, 1000);
      });
    }

    $(document).ready(function(){

      //If id or project variables are missing redirect to servers page
      if (!serverId || !project) {
        window.location.href = "{{ url_for('servers') }}";
      }
      else {
        loadPageContent()
        operationStatusCheck()
      }
      
    });

  </script>
{% endblock script %}
