{% extends "main.html" %}

{% block header %}
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>{{ page_title | safe }}</h1>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary float-sm-right mr-4" data-bs-toggle="modal" data-bs-target="#addModal" title="Add Server" aria-hidden="true">
        <i class="fas fa-plus fa-sm fa-fw"></i> Server
      </button>
    </div>
  </div>
{% endblock header %}

{% block content %}
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <table class="table" id="serversDataTable" width="100%" cellspacing="0">
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block modal %}
  {% include 'modals/servers.html' %}
{% endblock modal %}

{% block script %}
  <script>
    var reloadTime = 10000;
    var scrollY =  localStorage.getItem('serversDataTableScrollY') || '490px';

    function reloadPageContent() {
      //Clear the automatic page reload
      clearTimeout(pageReloadTimeout);

      //Reload the datatables content
      loadServersTable()

      //Set the automatic page reload
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);
    }

    function loadPageContent(){

      // Configure Datatable
      loadServersTable()

      //Set reload page content
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);
    }

    function loadServersTable() {
      if ( ! $.fn.DataTable.isDataTable( '#serversDataTable' ) ) {
        serversDataTable = $('#serversDataTable').DataTable({
          ajax: {
            url: "{{ url_for('api') }}/servers/list_servers",
            dataType: "json",
            dataSrc: "data",
            contentType: "application/json",
            error: function (xhr, error, code) {
              console.log(xhr, code);
            }
          },
          columns: [
            {
              data: null,
              orderable: false,
              render: DataTable.render.select()
            },
            { title: "Name", className: 'text-start dt-head-left', data: function (row, type, set) {
                if (row.hasOwnProperty('id') && row.hasOwnProperty('name')) {
                  if (row.name)
                    return '<a href="server?id=' + row.id + '">' + row.name + '</a>'
                    return row.name
                }
                return '-'
              },
            },
            { title: "Addr", className: 'text-start dt-head-left', data: function (row, type, set) {
                if (row.hasOwnProperty('id') && row.hasOwnProperty('addr')) {
                  if (row.addr)
                    return row.addr
                }
                return '-'
              },
            },
            { title: "Port", className: 'text-start dt-head-left', data: function (row, type, set) {
                if (row.hasOwnProperty('port')) {
                  if (row.port)
                    return row.port
                }
                return '-'
              },
            },
            { title: "WebSocket Proxy", className: 'text-start dt-head-left', data: function (row, type, set) {
                if (row.hasOwnProperty('proxy')) {
                  if (row.proxy)
                    return row.proxy
                }
                return '-'
              },
            },
            { title: "SSL Verify", className: 'text-start dt-head-left', data: function (row, type, set) {
                if (row.hasOwnProperty('ssl_verify')) {
                  return row.ssl_verify
                }
                return '-'
              },
            },
          ],
          layout: {
            topStart: {
              buttons: [
                { text: 'Edit',
                  action: function () { 
                    rows = serversDataTable.rows({ selected: true });
                    editServer(rows.data()[0]['id']);
                  },
                  enabled: false,
                },
                'spacer',
                { text: 'Delete',
                  action: function () { 
                    arr = []
                    arr2 = []
                    serversDataTable.rows('.selected').every( function() {
                      arr.push(this.data().id)
                      arr2.push(this.data().name)
                    });
                    $("#deleteServersList").text(arr2.join(", "));
                    $("#deleteServersHiddenInput").val(JSON.stringify(arr));
                    $("#deleteModal").modal('show');                    
                  },
                  enabled: false,
                },
                'spacer',
                'spacer',
                'pageLength',
                'spacer',
                {
                  extend: 'collection',
                  text: 'More',
                  buttons: [
                    {
                      extend: 'colvis',
                      text: 'Visible columns',
                      columns: [1,2,3,4,5],
                    },
                    {
                      text: (scrollY == '490px') ? 'Disable scrolling' : 'Enable scrolling',
                      action: function ( e, dt, node, config ) {
                        if (scrollY == '490px') {
                          localStorage.setItem('serversDataTableScrollY', false);
                          scrollY = false
                        }
                        else {
                          localStorage.setItem('serversDataTableScrollY', '490px');
                          scrollY = '490px'
                        }
                        dt.destroy()
                        loadServersTable()
                      },
                    },
                    {
                      text: 'Reset table state',
                      action: function ( e, dt, node, config ) {
                        dt.state.clear();
                        window.location.reload();
                      },
                    },
                  ]
                }

              ]
            }
          },
          lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],
          ],
          order: [
            [1, 'asc'], [2, 'asc']
          ],
          rowId: 'id',
          scrollCollapse: true,
          scrollX: true,
          scrollY: scrollY,
          select: {
            style: 'multi',
            selector: 'td:first-child',
            blurable: true,
            headerCheckbox: 'select-page',
          },
          stateDuration: 0,
          stateSave: true,
        });
      }
      else {
        $('#serversDataTable').DataTable().ajax.reload(null, false);
      }

      serversDataTable.on('select deselect', function () {
        var selectedRows = serversDataTable.rows({ selected: true }).count();
        serversDataTable.button(0).enable(selectedRows === 1);
        serversDataTable.button(2).enable(selectedRows > 0);
      });
    }

    function loadInstructionsModal(){
      $("#instructionsModal").modal('show');
    }

    function addServer(){
      console.log("Info: adding server " + $("#addModalAddrInput").val() + ":" + $("#addModalPortInput").val());
      $.post("{{ url_for('api') }}/servers/add_server", { 
        addr: $("#addModalAddrInput").val(), 
        port: $("#addModalPortInput").val(),
        proxy: $("#addModalProxyInput").val(),
        ssl_verify: $("#addModalSSLVerifyInput").val()
      }, function (data) {
        console.log(data)
        if (data.error)
          alert(data.error)
        setTimeout(() => { reloadPageContent(); }, 1000);
      });
    }

    function deleteServers(){
      var deleteServersHiddenInput = JSON.parse($("#deleteServersHiddenInput").val());
      console.log("Info: deleting servers " + deleteServersHiddenInput.join(", "));
      for (let i = 0; i < deleteServersHiddenInput.length; i++) {
        $.post("{{ url_for('api') }}/servers/remove_server", { id: deleteServersHiddenInput[i] }, function (data) {
          console.log(data);
          if (data.error_code >= 400){
            alert(data.error);
          }
        });
      }

      //Send toast notification
      $('#defaultToastHeader').text('Deleting Server(s)')
      $('#defaultToastBody').text($("#deleteServersList").text())
      defaultToast.show()

      //Sync type
      setTimeout(() => { reloadPageContent(); }, 1000);
      operationStatusCheck()
    }

    function editServer(id){
      console.log("Info: loading edit server " + id);
      $.get("{{ url_for('api') }}/servers/get_server", { 
        id: id,
      }, function (data) {
        console.log(data);
        console.log(data.data[0].addr);
        $("#editModalIdInput").val(data.data[0].id);
        $("#editModalAddrInput").val(data.data[0].addr);
        $("#editModalPortInput").val(data.data[0].port);
        $("#editModalProxyInput").val(data.data[0].proxy);
        $("#editModalSSLVerifyInput").val(data.data[0].ssl_verify.toString());
        $("#editModal").modal('show');
      });
    }

    function updateServer(){
      console.log("Info: updating server " + $("#editModalIdInput").val());
      $.post("{{ url_for('api') }}/servers/update_server", {
        id: $("#editModalIdInput").val(),
        addr: $("#editModalAddrInput").val(), 
        port: $("#editModalPortInput").val(),
        proxy: $("#editModalProxyInput").val(),
        ssl_verify: $("#editModalSSLVerifyInput").val()
      }, function (data) {
        console.log(data)
        setTimeout(() => { reloadPageContent(); }, 1000);
      });
    }

    $(document).ready(function(){

      loadPageContent()
      
    });

  </script>
{% endblock script %}
