  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="{{ url_for('static', filename='assets/img/logo-dark.svg') }}" alt="Logo" class="brand-image elevation-3" style="opacity: .8">
      <span class="brand-text"><strong>lx</strong>console</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">

        <ul class="nav nav-pills nav-sidebar flex-column user-panel py-2" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a class="nav-link" id="serversLinkSidebar" href="{{ url_for('servers') }}">
              <i id="serversIcon" class="nav-icon fas fa-server"></i>
              <p id="serversSpan">
                Servers
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="clusterMembersLinkSidebar" href="{{ url_for('cluster_members') }}" style="display: none;">
              <i id="clusterMembersIcon" class="nav-icon fas fa-layer-group"></i>
              <p id="clusterMembersSpan">
                Cluster Members
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="clusterGroupsLinkSidebar" href="{{ url_for('cluster_groups') }}" style="display: none;">
              <i id="clusterGroupsIcon" class="nav-icon fab fa-hive"></i>
              <p id="clusterGroupsSpan">
                Cluster Groups
              </p>
            </a>
          </li>
        </ul>

        <ul id="instanceSidebarLinks" class="nav nav-pills nav-sidebar flex-column user-panel py-2" style="display: none;" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a class="nav-link" id="instancesLinkSidebar" href="{{ url_for('instances') }}">
              <i id="instancesIcon" class="nav-icon fas fa-cube"></i>
              <p id="instancesSpan">
                Instances
              </p>
            </a>
          </li>
        </ul>

        <ul id="coreSidebarLinks" class="nav nav-pills nav-sidebar flex-column user-panel py-2" style="display: none;" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a class="nav-link" id="imagesLinkSidebar" href="{{ url_for('images') }}">
              <i id="imagesIcon" class="nav-icon fas fa-box-open"></i>
              <p id="imagesSpan">
                Images
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profilesLinkSidebar" href="{{ url_for('profiles') }}">
              <i id="profilesIcon" class="nav-icon fas fa-money-check"></i>
              <p id="profilesSpan">
                Profiles
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="projectsLinkSidebar" href="{{ url_for('projects') }}">
              <i id="projectsIcon" class="nav-icon fas fa-chart-bar"></i>
              <p id="projectsSpan">
                Projects
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="storagePoolsLinkSidebar" href="{{ url_for('storage_pools') }}">
              <i id="storagePoolsIcon" class="nav-icon fas fa-hdd"></i>
              <p id="storagePoolsSpan">
                Storage Pools
              </p>
            </a>
          </li>
        </ul>

        <ul id="networkSidebarLinks" class="nav nav-pills nav-sidebar flex-column user-panel py-2" style="display: none;" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a class="nav-link" id="networksLinkSidebar" href="{{ url_for('networks') }}">
              <i id="networksIcon" class="nav-icon fas fa-network-wired"></i>
              <p id="networksSpan">
                Networks
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="networkAclsLinkSidebar" href="{{ url_for('network_acls') }}">
              <i id="networkAclsIcon" class="nav-icon fas fa-shield-alt"></i>
              <p id="networkAclsSpan">
                Network ACLs
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="networkZonesLinkSidebar" href="{{ url_for('network_zones') }}">
              <i id="networkZonesIcon" class="nav-icon fas fa-globe"></i>
              <p id="networkZonesSpan">
                Network Zones
              </p>
            </a>
          </li>

        </ul>

        <ul id="additionalSidebarLinks" class="nav nav-pills nav-sidebar flex-column user-panel py-2" style="display: none;" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a class="nav-link" id="operationsLinkSidebar" href="{{ url_for('operations') }}">
              <i id="operationsIcon" class="nav-icon fas fa-exchange-alt"></i>
              <p id="operationsSpan">
                Operations
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="warningsLinkSidebar" href="{{ url_for('warnings') }}">
              <i id="warningsIcon" class="nav-icon fas fa-exclamation-triangle"></i>
              <p id="warningsSpan">
                Warnings
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="certificatesLinkSidebar" href="{{ url_for('certificates') }}">
              <i id="certificatesIcon" class="nav-icon fas fa-wallet"></i>
              <p id="certificatesSpan">
                Certificates
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="registriesLinkSidebar" href="{{ url_for('registries') }}">
              <i id="registriesIcon" class="nav-icon fas fa-archive"></i>
              <p id="registriesSpan">
                Registries
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="simplestreamsLinkSidebar" href="{{ url_for('simplestreams') }}">
              <i id="simplestreamsIcon" class="nav-icon fas fa-archive"></i>
              <p id="simplestreamsSpan">
                Simplestreams
              </p>
            </a>
          </li>
        </ul>

      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
