{% extends "main.html" %}

{% block header %}
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>{{ page_title | safe }}</h1>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary float-sm-right mr-4" data-bs-toggle="modal" data-bs-target="#addModal" title="Add Storage Pool" aria-hidden="true">
        <i class="fas fa-plus fa-sm fa-fw"></i> Storage Pool
      </button>
    </div>
  </div>
{% endblock header %}

{% block content %}
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <table class="table" id="storagePoolsDataTable" width="100%" cellspacing="0">
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block modal %}
  {% include 'modals/storage-pools.html' %}
{% endblock modal %}

{% block script %}
  <script>
    var reloadTime = 10000;
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const serverId = urlParams.get('id');
    const project = urlParams.get('project');
    var editedStoragePool = ''
    var scrollY =  localStorage.getItem('storagePoolsDataTableScrollY') || '490px';
    applySidebarStyles();
    applySidebarLinks();
    populateSidebarLinks();
    populateNavbarLinks();

    function reloadPageContent() {
      //Clear the automatic page reload
      clearTimeout(pageReloadTimeout);

      //Reload the datatables content
      loadStoragePoolsTable()

      //Set the automatic page reload
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);
    }

    function loadPageContent(){

      //Display the current project
      $("#selectedProject").text(project);

      //Loaded from main.html template
      populateServerSelectDropdown()
      populateProjectSelectDropdown()
      changeStoragePoolDriverInput()
      

      // Configure Datatable
      loadStoragePoolsTable()

      //Set reload page content
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);

    }

    function loadStoragePoolsTable() {
      if ( ! $.fn.DataTable.isDataTable( '#storagePoolsDataTable' ) ) {
        storagePoolsDataTable = $('#storagePoolsDataTable').DataTable({
          ajax: {
            url: "{{ url_for('api') }}/storage-pools/list_storage_pools?id="+serverId+"&project=" + project + "&recursion=1",
            dataType: "json",
            dataSrc: "metadata",
            contentType: "application/json",
            error: function (xhr, error, code) {
              console.log(xhr, code);
            }
          },
          columns: [
            {
              data: null,
              orderable: false,
              render: DataTable.render.select()
            },
            { title: "Name", data: function (row, type, set) {
                if (row.hasOwnProperty('name')) {
                  if (row.name)
                    return "<a href=\"{{ url_for('storage_volumes') }}?id=" + serverId + '&project=' + project + '&pool=' + row.name + '">' + row.name + '</a>';
                }
                return '-'
              },
            },
            { title: "Description", data: function (row, type, set) {
                if (row.hasOwnProperty('description')) {
                  if (row.description)
                    return row.description
                }
                return '-'
              },
            },
            { title: "Driver", data: function (row, type, set) {
                if (row.hasOwnProperty('driver')) {
                  if (row.driver)
                    return row.driver
                }
                return '-'
              },
            },
            { title: "Status", data: function (row, type, set) {
                if (row.hasOwnProperty('status')) {
                  if (row.status)
                    return row.status
                }
                return '-'
              },
            },
            { title: "Source", data: function (row, type, set) {
                if (row.hasOwnProperty('config')) {
                  if (row.config.hasOwnProperty('source')) {
                    if (row.config['source'])
                      return row.config['source']
                  }
                }
                return '-'
              },
            },
            { title: "Size", data: function (row, type, set) {
                if (row.hasOwnProperty('config')) {
                  if (row.config.hasOwnProperty('size')) {
                    if (row.config['size'])
                      return row.config['size']
                  }
                }
                return '-'
              },
            },
          ],
          layout: {
            topStart: {
              buttons: [
                { text: 'Edit',
                  action: function () { 
                    rows = storagePoolsDataTable.rows({ selected: true });
                    editItem(rows.data()[0]['name']);
                  },
                  enabled: false,
                },
                'spacer',
                { text: 'Delete',
                  action: function () { 
                    arr = []
                    storagePoolsDataTable.rows('.selected').every( function() {
                      arr.push(this.data().name)
                    });
                    $("#deleteStoragePoolsList").text(arr.join(", "));
                    $("#deleteStoragePoolsHiddenInput").val(JSON.stringify(arr));
                    $("#deleteModal").modal('show');                    
                  },
                  enabled: false,
                },
                'spacer',
                'spacer',
                'pageLength',
                'spacer',
                {
                  extend: 'collection',
                  text: 'More',
                  buttons: [
                    {
                      extend: 'colvis',
                      text: 'Visible columns',
                      columns: [1,2,3,4,5,6],
                    },
                    {
                      text: (scrollY == '490px') ? 'Disable scrolling' : 'Enable scrolling',
                      action: function ( e, dt, node, config ) {
                        if (scrollY == '490px') {
                          localStorage.setItem('storagePoolsDataTableScrollY', false);
                          scrollY = false
                        }
                        else {
                          localStorage.setItem('storagePoolsDataTableScrollY', '490px');
                          scrollY = '490px'
                        }
                        dt.destroy()
                        loadStoragePoolsTable()
                      },
                    },
                    {
                      text: 'Reset table state',
                      action: function ( e, dt, node, config ) {
                        dt.state.clear();
                        window.location.reload();
                      },
                    },
                  ]
                }

              ]
            }
          },
          lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],
          ],
          order: [
            [1, 'asc']
          ],
          rowId: 'name',
          scrollCollapse: true,
          scrollX: true,
          scrollY: scrollY,
          select: {
            style: 'multi',
            selector: 'td:first-child',
            blurable: true,
            headerCheckbox: 'select-page',
          },
          stateDuration: 0,
          stateSave: true,
        });
      }
      else {
        $('#storagePoolsDataTable').DataTable().ajax.reload(null, false);
      }

      storagePoolsDataTable.on('select deselect', function () {
        var selectedRows = storagePoolsDataTable.rows({ selected: true }).count();
        storagePoolsDataTable.button(0).enable(selectedRows === 1);
        storagePoolsDataTable.button(2).enable(selectedRows > 0);
      });
    }

    function addItem(){
      console.log("Info: adding new storage pool");
      data = $('#addForm').serialize();
      $.post("{{ url_for('api') }}/storage-pools/add_storage_pool?id="+serverId+"&project="+project, data, function (data) {
        console.log(data)
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        setTimeout(() => { reloadPageContent(); }, 1000);
        operationStatusCheck()
      });
    }

    function changeStoragePoolDriverInput(){
    var storagePoolDriverInput = $("#storagePoolDriverInput").val();
    if (storagePoolDriverInput == "btrfs"){
      $("#storagePoolSourceHint").removeClass("text-danger");

      $("#storagePoolSizeRow").show()
      $("#storagePoolBtrfsMountOptionsRow").show()
      $("#storagePoolCephClusterNameRow").hide()
      $("#storagePoolCephOsdForceReuseRow").hide()
      $("#storagePoolCephOsdPgNumRow").hide()
      $("#storagePoolCephOsdPoolNameRow").hide()
      $("#storagePoolCephOsdDataPoolNameRow").hide()
      $("#storagePoolCephRbdCloneCopyRow").hide()
      $("#storagePoolCephRbdFeaturesRow").hide()
      $("#storagePoolCephUserNameRow").hide()
      $("#storagePoolCephfsClusterNameRow").hide()
      $("#storagePoolCephfsPathRow").hide()
      $("#storagePoolCephfsUserNameRow").hide()
      $("#storagePoolLvmThinpoolNameRow").hide()
      $("#storagePoolLvmUseThinpoolRow").hide()
      $("#storagePoolLvmVgNameRow").hide()
      $("#storagePoolLvmVgForceReuseRow").hide()
      $("#storagePoolVolumeLvmStripesRow").hide()
      $("#storagePoolVolumeLvmStripesSizeRow").hide()
      $("#storagePoolRsyncBwlimitRow").show()
      $("#storagePoolRsyncCompressionRow").show()
      $("#storagePoolVolatileInitialSourceRow").show()
      $("#storagePoolVolatilePoolPristineRow").hide()
      $("#storagePoolVolumeBlockFilesystemRow").hide()
      $("#storagePoolVolumeBlockMountOptionsRow").hide()
      $("#storagePoolVolumeSizeRow").show()
      $("#storagePoolVolumeZfsRemoveSnapshotsRow").hide()
      $("#storagePoolVolumeZfsUseRefquotaRow").hide()
      $("#storagePoolZfsCloneCopyRow").hide()
      $("#storagePoolZfsPoolNameRow").hide()  
    }
    if (storagePoolDriverInput == "ceph"){
      $("#storagePoolSourceHint").removeClass("text-danger");

      $("#storagePoolSizeRow").hide()
      $("#storagePoolBtrfsMountOptionsRow").hide()
      $("#storagePoolCephClusterNameRow").show()
      $("#storagePoolCephOsdForceReuseRow").show()
      $("#storagePoolCephOsdPgNumRow").show()
      $("#storagePoolCephOsdPoolNameRow").show()
      $("#storagePoolCephOsdDataPoolNameRow").show()
      $("#storagePoolCephRbdCloneCopyRow").show()
      $("#storagePoolCephRbdFeaturesRow").show()
      $("#storagePoolCephUserNameRow").show()
      $("#storagePoolCephfsClusterNameRow").hide()
      $("#storagePoolCephfsPathRow").hide()
      $("#storagePoolCephfsUserNameRow").hide()
      $("#storagePoolLvmThinpoolNameRow").hide()
      $("#storagePoolLvmUseThinpoolRow").hide()
      $("#storagePoolLvmVgNameRow").hide()
      $("#storagePoolLvmVgForceReuseRow").hide()
      $("#storagePoolVolumeLvmStripesRow").hide()
      $("#storagePoolVolumeLvmStripesSizeRow").hide()
      $("#storagePoolRsyncBwlimitRow").show()
      $("#storagePoolRsyncCompressionRow").show()
      $("#storagePoolVolatileInitialSourceRow").show()
      $("#storagePoolVolatilePoolPristineRow").show()
      $("#storagePoolVolumeBlockFilesystemRow").show()
      $("#storagePoolVolumeBlockMountOptionsRow").show()
      $("#storagePoolVolumeSizeRow").show()
      $("#storagePoolVolumeZfsRemoveSnapshotsRow").hide()
      $("#storagePoolVolumeZfsUseRefquotaRow").hide()
      $("#storagePoolZfsCloneCopyRow").hide()
      $("#storagePoolZfsPoolNameRow").hide()  
    }
    if (storagePoolDriverInput == "cephfs"){
      $("#storagePoolSourceHint").addClass("text-danger");

      $("#storagePoolSizeRow").hide()
      $("#storagePoolBtrfsMountOptionsRow").hide()
      $("#storagePoolCephClusterNameRow").hide()
      $("#storagePoolCephOsdForceReuseRow").hide()
      $("#storagePoolCephOsdPgNumRow").hide()
      $("#storagePoolCephOsdPoolNameRow").hide()
      $("#storagePoolCephOsdDataPoolNameRow").hide()
      $("#storagePoolCephRbdCloneCopyRow").hide()
      $("#storagePoolCephRbdFeaturesRow").hide()
      $("#storagePoolCephUserNameRow").hide()
      $("#storagePoolCephfsClusterNameRow").show()
      $("#storagePoolCephfsPathRow").show()
      $("#storagePoolCephfsUserNameRow").show()
      $("#storagePoolLvmThinpoolNameRow").hide()
      $("#storagePoolLvmUseThinpoolRow").hide()
      $("#storagePoolLvmVgNameRow").hide()
      $("#storagePoolLvmVgForceReuseRow").hide()
      $("#storagePoolVolumeLvmStripesRow").hide()
      $("#storagePoolVolumeLvmStripesSizeRow").hide()
      $("#storagePoolRsyncBwlimitRow").show()
      $("#storagePoolRsyncCompressionRow").show()
      $("#storagePoolVolatileInitialSourceRow").show()
      $("#storagePoolVolatilePoolPristineRow").show()
      $("#storagePoolVolumeBlockFilesystemRow").show()
      $("#storagePoolVolumeBlockMountOptionsRow").show()
      $("#storagePoolVolumeSizeRow").show()
      $("#storagePoolVolumeZfsRemoveSnapshotsRow").hide()
      $("#storagePoolVolumeZfsUseRefquotaRow").hide()
      $("#storagePoolZfsCloneCopyRow").hide()
      $("#storagePoolZfsPoolNameRow").hide()  
    }
    if (storagePoolDriverInput == "dir"){
      $("#storagePoolSourceHint").removeClass("text-danger");

      $("#storagePoolSizeRow").hide()
      $("#storagePoolBtrfsMountOptionsRow").hide()
      $("#storagePoolCephClusterNameRow").hide()
      $("#storagePoolCephOsdForceReuseRow").hide()
      $("#storagePoolCephOsdPgNumRow").hide()
      $("#storagePoolCephOsdPoolNameRow").hide()
      $("#storagePoolCephOsdDataPoolNameRow").hide()
      $("#storagePoolCephRbdCloneCopyRow").hide()
      $("#storagePoolCephRbdFeaturesRow").hide()
      $("#storagePoolCephUserNameRow").hide()
      $("#storagePoolCephfsClusterNameRow").hide()
      $("#storagePoolCephfsPathRow").hide()
      $("#storagePoolCephfsUserNameRow").hide()
      $("#storagePoolLvmThinpoolNameRow").hide()
      $("#storagePoolLvmUseThinpoolRow").hide()
      $("#storagePoolLvmVgNameRow").hide()
      $("#storagePoolLvmVgForceReuseRow").hide()
      $("#storagePoolVolumeLvmStripesRow").hide()
      $("#storagePoolVolumeLvmStripesSizeRow").hide()
      $("#storagePoolRsyncBwlimitRow").show()
      $("#storagePoolRsyncCompressionRow").show()
      $("#storagePoolVolatileInitialSourceRow").show()
      $("#storagePoolVolatilePoolPristineRow").hide()
      $("#storagePoolVolumeBlockFilesystemRow").hide()
      $("#storagePoolVolumeBlockMountOptionsRow").hide()
      $("#storagePoolVolumeSizeRow").show()
      $("#storagePoolVolumeZfsRemoveSnapshotsRow").hide()
      $("#storagePoolVolumeZfsUseRefquotaRow").hide()
      $("#storagePoolZfsCloneCopyRow").hide()
      $("#storagePoolZfsPoolNameRow").hide()  
    }
    if (storagePoolDriverInput == "lvm"){
      $("#storagePoolSourceHint").removeClass("text-danger");

      $("#storagePoolSizeRow").show()
      $("#storagePoolBtrfsMountOptionsRow").hide()
      $("#storagePoolCephClusterNameRow").hide()
      $("#storagePoolCephOsdForceReuseRow").hide()
      $("#storagePoolCephOsdPgNumRow").hide()
      $("#storagePoolCephOsdPoolNameRow").hide()
      $("#storagePoolCephOsdDataPoolNameRow").hide()
      $("#storagePoolCephRbdCloneCopyRow").hide()
      $("#storagePoolCephRbdFeaturesRow").hide()
      $("#storagePoolCephUserNameRow").hide()
      $("#storagePoolCephfsClusterNameRow").hide()
      $("#storagePoolCephfsPathRow").hide()
      $("#storagePoolCephfsUserNameRow").hide()
      $("#storagePoolLvmThinpoolNameRow").show()
      $("#storagePoolLvmUseThinpoolRow").show()
      $("#storagePoolLvmVgNameRow").show()
      $("#storagePoolLvmVgForceReuseRow").show()
      $("#storagePoolVolumeLvmStripesRow").show()
      $("#storagePoolVolumeLvmStripesSizeRow").show()
      $("#storagePoolRsyncBwlimitRow").show()
      $("#storagePoolRsyncCompressionRow").show()
      $("#storagePoolVolatileInitialSourceRow").show()
      $("#storagePoolVolatilePoolPristineRow").hide()
      $("#storagePoolVolumeBlockFilesystemRow").show()
      $("#storagePoolVolumeBlockMountOptionsRow").show()
      $("#storagePoolVolumeSizeRow").show()
      $("#storagePoolVolumeZfsRemoveSnapshotsRow").hide()
      $("#storagePoolVolumeZfsUseRefquotaRow").hide()
      $("#storagePoolZfsCloneCopyRow").hide()
      $("#storagePoolZfsPoolNameRow").hide()  
    }
    if (storagePoolDriverInput == "zfs"){
      $("#storagePoolSourceHint").removeClass("text-danger");

      $("#storagePoolSizeRow").show()
      $("#storagePoolBtrfsMountOptionsRow").hide()
      $("#storagePoolCephClusterNameRow").hide()
      $("#storagePoolCephOsdForceReuseRow").hide()
      $("#storagePoolCephOsdPgNumRow").hide()
      $("#storagePoolCephOsdPoolNameRow").hide()
      $("#storagePoolCephOsdDataPoolNameRow").hide()
      $("#storagePoolCephRbdCloneCopyRow").hide()
      $("#storagePoolCephRbdFeaturesRow").hide()
      $("#storagePoolCephUserNameRow").hide()
      $("#storagePoolCephfsClusterNameRow").hide()
      $("#storagePoolCephfsPathRow").hide()
      $("#storagePoolCephfsUserNameRow").hide()
      $("#storagePoolLvmThinpoolNameRow").hide()
      $("#storagePoolLvmUseThinpoolRow").hide()
      $("#storagePoolLvmVgNameRow").hide()
      $("#storagePoolLvmVgForceReuseRow").hide()
      $("#storagePoolVolumeLvmStripesRow").hide()
      $("#storagePoolVolumeLvmStripesSizeRow").hide()
      $("#storagePoolRsyncBwlimitRow").show()
      $("#storagePoolRsyncCompressionRow").show()
      $("#storagePoolVolatileInitialSourceRow").show()
      $("#storagePoolVolatilePoolPristineRow").hide()
      $("#storagePoolVolumeBlockFilesystemRow").hide()
      $("#storagePoolVolumeBlockMountOptionsRow").hide()
      $("#storagePoolVolumeSizeRow").show()
      $("#storagePoolVolumeZfsRemoveSnapshotsRow").show()
      $("#storagePoolVolumeZfsUseRefquotaRow").show()
      $("#storagePoolZfsCloneCopyRow").show()
      $("#storagePoolZfsPoolNameRow").show()  
    }
  }

    function createStoragePoolUsingJSON(){
      var json = $("#jsonCreateInput").val();
      console.log("Info: adding new project");
      $.post("{{ url_for('api') }}/storage-pools/add_storage_pool?id="+serverId+"&project="+project, { json: json },  function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        setTimeout(() => { reloadPageContent(); }, 1000);
        operationStatusCheck()
      });
    }

    function deleteItems(){
      var deleteStoragePoolsHiddenInput = JSON.parse($("#deleteStoragePoolsHiddenInput").val());
      console.log("Info: deleting storage pools " + deleteStoragePoolsHiddenInput.join(", "));
      for (let i = 0; i < deleteStoragePoolsHiddenInput.length; i++) {
        $.post("{{ url_for('api') }}/storage-pools/delete_storage_pool?id=" + serverId + "&project=" + project, { name: deleteStoragePoolsHiddenInput[i] }, function (data) {
          console.log(data);
          if (data.error_code >= 400){
            alert(data.error);
          }
        });
      }

      //Send toast notification
      deleteStoragePoolsHiddenInput.forEach(element => {
        createToast(element, 'deleting storage pool')
      });

      //Sync type
      setTimeout(() => { reloadPageContent(); }, 1000);
      operationStatusCheck()
    }

    function editItem(name){
      editedStoragePool = name
      console.log("Info: loading storage pool " + name);
      $.post("{{ url_for('api') }}/storage-pools/load_storage_pool?id=" + serverId + "&project=" + project, { name: name }, function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        $("#storagePoolNameEditInput").text("Name: " + name);
        $("#jsonInput").val(JSON.stringify(data.metadata, null, 2));
        $("#editModal").modal('show');
      });
    }

    function updateStoragePool(){
      name = editedStoragePool
      var updatedJSON = $("#jsonInput").val();
      console.log("Info: updating storage pool");
      $.post("{{ url_for('api') }}/storage-pools/update_storage_pool?id=" + serverId + "&project=" + project + "&name=" + encodeURI(name), { json: updatedJSON },  function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        setTimeout(() => { reloadPageContent(); }, 1000);
        operationStatusCheck()
      });
    }

    $(document).ready(function(){

      //If id or project variables are missing redirect to servers page
      if (!serverId || !project) {
        window.location.href = "{{ url_for('servers') }}";
      }
      else {
        loadPageContent()
        operationStatusCheck()
      }
     
    });

  </script>
{% endblock script %}
