{% extends "main.html" %}

{% block header %}
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>{{ page_title | safe }}</h1>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary float-sm-right mr-4" data-bs-toggle="modal" data-bs-target="#addModal" title="Add Storage Volume" aria-hidden="true">
        <i class="fas fa-plus fa-sm fa-fw"></i> Storage Volume
      </button>
    </div>
  </div>
{% endblock header %}

{% block content %}
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <table class="table" id="storageVolumesDataTable" width="100%" cellspacing="0">
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block modal %}
  {% include 'modals/storage-volumes.html' %}
{% endblock modal %}

{% block script %}
  <script>
    var reloadTime = 10000;
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const serverId = urlParams.get('id');
    const project = urlParams.get('project');
    const pool = urlParams.get('pool');
    if (urlParams.get('filter') == 'custom'){
      var filter = urlParams.get('filter')
    } 
    else {
      var filter = ''
    }
    var editedStorageVolume = ''
    var editedStorageVolumeType = ''
    var scrollY =  localStorage.getItem('storageVolumesDataTableScrollY') || '490px';
    applySidebarStyles();
    applySidebarLinks();
    populateSidebarLinks();
    populateNavbarLinks();

    function reloadPageContent() {
      //Clear the automatic page reload
      clearTimeout(pageReloadTimeout);

      //Reload the datatables content
      loadStorageVolumesTable()

      //Set the automatic page reload
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);
    }

    function loadPageContent(){

      //Display the current project
      $("#selectedProject").text(project);

      //Loaded from main.html template
      populateServerSelectDropdown()
      populateProjectSelectDropdown()

      // Configure Datatable
      loadStorageVolumesTable()

      //Set reload page content
      pageReloadTimeout = setTimeout(() => { reloadPageContent(); }, reloadTime);

    }
    
    function loadStorageVolumesTable() {
      if ( ! $.fn.DataTable.isDataTable( '#storageVolumesDataTable' ) ) {
        storageVolumesDataTable = $('#storageVolumesDataTable').DataTable({
          ajax: {
            url: "{{ url_for('api') }}/storage-volumes/list_storage_volumes?id="+serverId+"&project=" + project + "&recursion=1" + "&pool=" + pool,
            dataType: "json",
            dataSrc: "metadata",
            contentType: "application/json",
            error: function (xhr, error, code) {
              console.log(xhr, code);
            }
          },
          columns: [
            {
              data: null,
              orderable: false,
              render: DataTable.render.select()
            },
            { title: "Name", data: function (row, type, set) {
                if (row.hasOwnProperty('name')) {
                  if (row.name){
                    if (row.name.length > 27) {
                      return row.name.substring(0,23) + "...";
                    }
                    return row.name
                  }
                }
                return '-'
              },
            },
            { title: "Description", data: function (row, type, set) {
                if (row.hasOwnProperty('description')) {
                  if (row.description)
                    return row.description
                }
                return '-'
              },
            },
            { title: "Type", data: function (row, type, set) {
                if (row.hasOwnProperty('type')) {
                  if (row.type)
                    return row.type
                }
                return '-'
              },
            },
            { title: "Location", data: function (row, type, set) {
                if (row.hasOwnProperty('location')) {
                  if (row.location)
                    return row.location
                }
                return '-'
              },
            },
            { title: "Content Type", data: function (row, type, set) {
                if (row.hasOwnProperty('content_type')) {
                  if (row.content_type)
                    return row.content_type
                }
                return '-'
              },
            },
            { title: "Used by", data: function (row, type, set) {
                if (row.hasOwnProperty('used_by')) {
                  if (row.used_by){
                    if (Object.keys(row.used_by).length > 0){
                      arr = []
                      row.used_by.forEach(element => {
                        item = element.replace('/1.0/instances/', '')
                        item = item.replace('/1.0/containers/', '')
                        item = item.replace('/1.0/virtual-machines/', '')
                        item = item.replace('/1.0/images/', '')
                        if (item.length > 24) {
                          arr.push(item.substring(0,23) + "...")
                        }
                        else {
                          arr.push(item)
                        }
                      });
                      return arr.join(", ")
                    }
                  }
                }
                return '-'
              },
            },
          ],
          layout: {
            topStart: {
              buttons: [
                { text: 'Edit',
                  action: function () { 
                    rows = storageVolumesDataTable.rows({ selected: true });
                    editItem(rows.data()[0]['name'], rows.data()[0]['type']);
                  },
                  enabled: false,
                },
                'spacer',
                { text: 'Delete',
                  action: function () { 
                    arr = []
                    arr2 = []
                    storageVolumesDataTable.rows('.selected').every( function() {
                      arr.push(this.data().name)
                      arr2.push(this.data().type)
                    });
                    $("#deleteStorageVolumesList").text(arr.join(", "));
                    $("#deleteStorageVolumesHiddenInput").val(JSON.stringify(arr));
                    $("#deleteStorageVolumesHiddenTypeInput").val(JSON.stringify(arr2));
                    $("#deleteModal").modal('show');                    
                  },
                  enabled: false,
                },
                'spacer',
                'spacer',
                'pageLength',
                'spacer',
                {
                  extend: 'collection',
                  text: 'More',
                  buttons: [
                    {
                      extend: 'colvis',
                      text: 'Visible columns',
                      columns: [1,2,3,4,5,6],
                    },
                    {
                      text: (scrollY == '490px') ? 'Disable scrolling' : 'Enable scrolling',
                      action: function ( e, dt, node, config ) {
                        if (scrollY == '490px') {
                          localStorage.setItem('storageVolumesDataTableScrollY', false);
                          scrollY = false
                        }
                        else {
                          localStorage.setItem('storageVolumesDataTableScrollY', '490px');
                          scrollY = '490px'
                        }
                        dt.destroy()
                        loadStorageVolumesTable()
                      },
                    },
                    {
                      text: 'Reset table state',
                      action: function ( e, dt, node, config ) {
                        dt.state.clear();
                        window.location.reload();
                      },
                    },
                  ]
                }

              ]
            }
          },
          lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],
          ],
          order: [
            [1, 'asc']
          ],
          rowId: 'name',
          scrollCollapse: true,
          scrollX: true,
          scrollY: scrollY,
          select: {
            selectable: function (rowData) {
              if (rowData.hasOwnProperty('type')) {
                return rowData.type === 'custom'; 
              }
              return false; 
            },
            style: 'multi',
            selector: 'td:first-child',
            blurable: true,
            headerCheckbox: 'select-page',
          },
          stateDuration: 0,
          stateSave: true,
        });
      }
      else {
        $('#storageVolumesDataTable').DataTable().ajax.reload(null, false);
      }

      storageVolumesDataTable.on('select deselect', function () {
        var selectedRows = storageVolumesDataTable.rows({ selected: true }).count();
        storageVolumesDataTable.button(0).enable(selectedRows === 1);
        storageVolumesDataTable.button(2).enable(selectedRows > 0);
      });
    }

    function addItem(){
      console.log("Info: adding new storage volume");
      data = $('#addForm').serialize();
      $.post("{{ url_for('api') }}/storage-volumes/add_storage_volume?id="+serverId+"&project="+project+"&pool="+pool, data, function (data) {
        console.log(data)
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        setTimeout(() => { reloadPageContent(); }, 1000);
        operationStatusCheck()
      });
    }

    function createStorageVolumeUsingJSON(){
      var json = $("#jsonCreateInput").val();
      console.log("Info: adding new storage volume");
      $.post("{{ url_for('api') }}/storage-volumes/add_storage_volume?id="+serverId+"&project="+project+"&pool="+pool, { json: json },  function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        setTimeout(() => { reloadPageContent(); }, 1000);
        operationStatusCheck()
      });
    }

    function deleteItems(){
      var deleteStorageVolumesHiddenInput = JSON.parse($("#deleteStorageVolumesHiddenInput").val());
      var deleteStorageVolumesHiddenTypeInput = JSON.parse($("#deleteStorageVolumesHiddenTypeInput").val());
      console.log("Info: deleting storage volumes " + deleteStorageVolumesHiddenInput.join(", "));
      for (let i = 0; i < deleteStorageVolumesHiddenInput.length; i++) {
        $.post("{{ url_for('api') }}/storage-volumes/delete_storage_volume?id=" + serverId + "&project=" + project + "&pool=" + pool, { name: deleteStorageVolumesHiddenInput[i], type: deleteStorageVolumesHiddenTypeInput[i] }, function (data) {
          console.log(data);
          if (data.error_code >= 400){
            alert(data.error);
          }
        });
      }

      //Send toast notification
      deleteStorageVolumesHiddenInput.forEach(element => {
        createToast(element, 'deleting storage volume')
      });

      //Sync type
      setTimeout(() => { reloadPageContent(); }, 1000);
      operationStatusCheck()
    }

    function editItem(name, type){
      editedStorageVolume = name
      editedStorageVolumeType = type
      console.log("Info: loading storage volume " + name);
      $.post("{{ url_for('api') }}/storage-volumes/load_storage_volume?id="+encodeURI(serverId)+"&project="+encodeURI(project)+"&pool="+pool, { name: name, type: type }, function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        $("#storageVolumeNameEditInput").text("Name: " + name);
        $("#jsonInput").val(JSON.stringify(data.metadata, null, 2));
        $("#editModal").modal('show');
      });
    }

    function updateStorageVolume(){
      name = editedStorageVolume
      type = editedStorageVolumeType
      var updatedJSON = $("#jsonInput").val();
      console.log("Info: updating storage volume");
      $.post("{{ url_for('api') }}/storage-volumes/update_storage_volume?id="+encodeURI(serverId)+"&project="+encodeURI(project)+"&pool="+pool+"&name="+encodeURI(name)+"&type="+encodeURI(type), { json: updatedJSON },  function (data) {
        console.log(data);
        if (data.error_code >= 400){
          alert(data.error);
        }
        //Sync type
        setTimeout(() => { reloadPageContent(); }, 1000);
        operationStatusCheck()
      });
    }

    $(document).ready(function(){

      //If id or project variables are missing redirect to servers page
      if (!serverId || !project) {
        window.location.href = "{{ url_for('servers') }}";
      }
      else if (!pool) {
        window.location.href = "{{ url_for('storage_pools') }}?id=" + serverId + '&project=' + project
      }
      else {
        loadPageContent()
        operationStatusCheck()
      }
      
    });

  </script>
{% endblock script %}
