  <!-- Add Modal-->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Download Image</h5>
          <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="catalog-tab" data-bs-toggle="tab" href="#catalog" role="tab" aria-controls="catalog" aria-selected="true">Catalog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="form-tab" data-bs-toggle="tab" href="#form" role="tab" aria-controls="form" aria-selected="false">Form</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="catalog" role="tabpanel" aria-labelledby="catelog-tab">

              <div class="row mt-4">
                <label class="col-3 col-form-label text-right">Operating System: </label>
                <div class="col-7">
                  <div class="form-group">
                    <select id="operatingSystem" onchange="updateOSVersion()" class="form-select" name="operating_system">
                      <option value="">unavailable</option>
                    </select>
                  </div>
                </div>
                <div class="col-1">
                  <i class="far fa-sm fa-question-circle" title='Select the operating system.'></i>
                </div>
              </div>

              <div class="row">
                <label class="col-3 col-form-label text-right">OS Version: </label>
                <div class="col-7">
                  <div class="form-group">
                    <select id="operatingSystemVersion" class="form-select" name="version">
                      <option value="">unavailable</option>
                    </select>
                  </div>
                </div>
                <div class="col-1">
                  <i class="far fa-sm fa-question-circle" title='Select the operating system version.'></i>
                </div>
              </div>

              <div class="row">
                <label class="col-3 col-form-label text-right">Image Variant: </label>
                <div class="col-7">
                  <div class="form-group">
                    <select id="operatingSystemVariant" class="form-select" name="variant">
                      <option value="">unavailable</option>
                    </select>
                  </div>
                </div>
                <div class="col-1">
                  <i class="far fa-sm fa-question-circle" title='Select the image variant such as default or cloud. Default: default'></i>
                </div>
              </div>

              <div class="row">
                <label class="col-3 col-form-label text-right">Image Type: </label>
                <div class="col-7">
                  <div class="form-group">
                    <select id="operatingSystemType" class="form-select" name="type">
                      <option value="container">container</option>
                      <option value="virtual-machine">virtual-machine</option>
                    </select>
                  </div>
                </div>
                <div class="col-1">
                  <i class="far fa-sm fa-question-circle" title='Select the type of image such as container of virtual-machine.'></i>
                </div>
              </div>

              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="#" onclick="addCatalogImage()" data-bs-dismiss="modal">Ok</a>
              </div>

            </div>
            <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="form-tab">
              <form id="addForm">
                <div class="mt-4">
                  
                  <div class="row">
                    <label class="col-2 col-form-label text-right">Image/Alias: <span class="text-danger">*</span></label>
                    <div class="col-8">
                      <div class="form-group">
                        <input type="text" class="form-control" required="required" placeholder="" name="image">
                      </div>
                    </div>
                    <div class="col-1">
                      <i class="far fa-sm fa-question-circle" data-bs-toggle="tooltip" data-html="true" title='(Required) - Enter in the repository specific name. For example, ubuntu/20.04 would be used for the images repository and simply 20.04 would be used for the ubuntu repositories.'></i>
                    </div>
                  </div>
    
                  <div class="row">
                    <label class="col-2 col-form-label text-right">Registry Source: </label>
                    <div class="col-8">
                      <div class="form-group">
                        <select id="selectRegistrySourceInput" class="form-select" onchange="updateRegistrySource()" name="registry_source">
                          <option value="registries">Registries</option>
                          <option value="simplestreams">Simplestreams</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-1">
                      <i class="far fa-sm fa-question-circle" title='With the additional of OCI protocol, the Simplestreams page is now deprecated to allow for additional registry types'></i>
                    </div>
                  </div>

                  <div class="row" id="registryOption">
                    <label class="col-2 col-form-label text-right">Registry: </label>
                    <div class="col-8">
                      <div class="form-group">
                        <select id="selectRegistryInput" class="form-select" name="registry_id">
                        </select>
                      </div>
                    </div>
                    <div class="col-1">
                      <i class="far fa-sm fa-question-circle" title='Select a repository from the configured registries page.'></i>
                    </div>
                  </div>

                  <div class="row" id="simplestreamsOption" style="display:none;">
                    <label class="col-2 col-form-label text-right">Simplestream: </label>
                    <div class="col-8">
                      <div class="form-group">
                        <select id="selectRepoInput" class="form-select" name="simplestreams_id">
                        </select>
                      </div>
                    </div>
                    <div class="col-1">
                      <i class="far fa-sm fa-question-circle" title='Select a repository from the configured simplestreams page.'></i>
                    </div>
                  </div>
    
                  <div class="row">
                    <label class="col-2 col-form-label text-right">Image Type:</label>
                    <div class="col-8 text-right">
                      <div class="form-group">
                        <select class="form-select" name="image_type">
                          <option value="container" selected>container</option>
                          <option value="virtual-machine">virtual-machine</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-1">
                      <i class="far fa-sm fa-question-circle" title='Select whether to download a container based image or virtual machine. Default: container'></i>
                    </div>
                  </div>

                </div>
              </form>            
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="#" onclick="addItem()" data-bs-dismiss="modal">Ok</a>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer text-center">
          <!--<a href="#" data-bs-toggle="modal" data-bs-target="#trademarkNotices" title="Download Image" aria-hidden="true">Trademark notices</a>-->
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal-->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Image(s)</h5>
          <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete the following image(s)?</p>
          <span id="deleteImagesList"></span>
          <input type="hidden" id="deleteImagesHiddenInput">
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="#" onclick="deleteImages()" data-bs-dismiss="modal">Yes</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal-->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Image</h5>
            <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <label class="col-4 col-form-label" id="imageNameEditInput"></label>
              <div class="col-12">
                <div class="form-group text-right">
                  <pre>
                    <textarea name="json" class="form-control" id="jsonInput" rows="16" ></textarea>
                  </pre>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="#" onclick="updateImage()" data-bs-dismiss="modal">Submit</a>
          </div>
      </div>
    </div>
  </div>
