<!-- About Modal-->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">About lxconsole</h5>
        <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <p>Lxconsole is an open source management console providing a web-based user interface capable of managing multiple LXD/Incus servers from a single location.</p>
            <p>
              <strong>Version</strong>: <span id="versionNumber">0.6.3</span> <br />
              <strong>License</strong>: AGPL-3.0 <br />
              <strong>URL</strong>: https://lxconsole.com <br />
            </p>          
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>
